:where(*, *::before, *::after) {
	box-sizing: border-box !important;
	margin: 0;
	padding: 0;
}

:where(img, picture, canvas, svg) {
	max-width: 100%;
	display: block;
}

:where(ul, ol) {
	list-style: none;
}

:where(a, button) {
	cursor: pointer;
	font-size: inherit;
	color: inherit;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

*::selection {
	background-color: hsl(var(--clr-1-500-alpha), 0.15);
}

html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: var(--header-height);
	height: 100%;
}

body {
	font-family: var(--ff-rg);
	font-weight: var(--fw-rg);
	font-size: var(--fs-rg);
	color: var(--clr-0-900-solid);
	line-height: var(--lh-rg);
}
