/* |||||||||| |||||||||| |||||||||| |||||||||| xl */
@media (width <= 1200px) {
	.slide-content {
		--col: 2;
		--x: 1;
		justify-self: center;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| lg */
@media (width <= 992px) {
	.slide-content {
		--col: 3;
	}

	/* .table media styles are in the table.css */

	/* utilities */
	.lg-shadow-bottom {
		--shadow: var(--img-shadow-bottom);
	}

	.lg-a-flow-row {
		grid-auto-flow: row;
	}

	.lg-c-span-0 {
		grid-column: auto;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| md */
@media (width <= 768px) {
	/* utilities */
	.md-min-h-auto {
		min-height: auto !important;
	}

	/* .md-d-grid {
		display: grid;
	}
	.md-d-none {
		display: none;
	} */
}

/* |||||||||| |||||||||| |||||||||| |||||||||| sm */
@media (width <= 576px) {
	.sm-shadow-bottom {
		--shadow: var(--img-shadow-bottom);
	}

	/* utilities */
	.sm-a-flow-row {
		grid-auto-flow: row;
	}

	/* .sm-grid-col-a {
		grid-column: auto;
	} */ /* for demo chess-grid-12 */

	/* .sm-col-span-0 {
		grid-column: auto;
	}
	.sm-row-span-0 {
		grid-row: auto;
	} */
}
