/* |||||||||| |||||||||| |||||||||| |||||||||| xl */
@media (width <= 1200px) {
	.slide-content {
		--col: 2;
		--x: 1;
		justify-self: center;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| lg */
@media (width <= 992px) {
	.slide-content {
		--col: 3;
	}

	/* .table media styles are in the table.css */
}

/* |||||||||| |||||||||| |||||||||| |||||||||| md */
@media (width <= 768px) {
	/* utilities */
	.md-d-grid {
		display: grid;
	}
	.md-d-none {
		display: none;
	}

	.md-flex-dir-col {
		flex-direction: column;
	}

	.md-h-slave-off {
		min-height: auto !important;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| sm */
@media (width <= 576px) {
	.slide-bg {
		--image: url(/images/demo-3.webp);
	}

	.cards > * {
		--card-cols: 1fr;
	}

	/* .sm-col-span-0 {
		grid-column: auto;
	}
	.sm-row-span-0 {
		grid-row: auto;
	} */
}
