:root,
::backdrop {
	font-size: clamp(1.3rem, 1dvw + 1dvh + 0.5vmin, 1.6rem);
	--max-content-width: 100rem;

	--clr-0-100-solid: hsl(0, 0%, 96%);
	--clr-0-100-alpha: 0, 0%, 96%;
	--clr-0-900-solid: hsl(0, 0%, 13%);

	--clr-1-500-solid: hsl(0, 78%, 54%);
	--clr-1-500-solid-invert: hsl(180, 78%, 46%);
	--clr-1-500-alpha: 0, 78%, 54%;
	--clr-1-500-alpha-invert: 180, 78%, 46%;

	--clr-1-900-solid: hsl(0, 1%, 25%);
	--clr-1-900-alpha: 0, 1%, 25%;

	--clr-2-300-solid: hsl(233, 9%, 65%);
	--clr-2-300-alpha: 233, 9%, 65%;
	--clr-2-500-solid: hsl(44, 85%, 55%);
	--clr-2-500-alpha: 44, 85%, 55%;
	--clr-2-600-solid: hsl(146, 43%, 41%);
	--clr-2-600-alpha: 146, 43%, 41%;
	--clr-2-700-solid: hsl(261, 35%, 43%);
	--clr-2-700-alpha: 261, 35%, 43%;

	--time: 0.1s;
	--easing: ease-in;

	--logo-size: 2rem;
	--logo-x: 1;
	--logo-y: 1;
	--logo-height: calc((var(--logo-size) / var(--logo-x)) * var(--logo-y));

	--header-top: 0.75rem;
	--header-bottom: 0.75rem;
	--header-height: calc(
		var(--header-top) + var(--logo-height) + var(--header-bottom)
	);
	--main-height: calc(100% - var(--header-height) * 2);

	/* slides bgs */
	--clr-1: hsl(0, 0%, 0%, 0.25);
	--clr-2: hsl(0, 0%, 0%, 0.75);
	--tint-1: hsl(175, 56%, 12%);
	--tint-2: hsl(225, 65%, 20%);
	/* --tint-2: hsl(var(--clr-2-600-alpha), 0.5); */
	--overlay-1: linear-gradient(90deg, var(--clr-1) 0%, var(--clr-2) 100%);
	--overlay-2: linear-gradient(90deg, var(--clr-2) 25%, var(--clr-1) 100%);
	--overlay-3: linear-gradient(90deg, var(--clr-2) 10%, var(--clr-1) 50%);

	--shadow-left: 2rem 0rem 1.5rem -1.5rem rgba(0, 0, 0, 0.1);
	--shadow-right: -2rem 0rem 1.5rem -1.5rem rgba(0, 0, 0, 0.1);
	--table-shadow: 0rem 2rem 4rem -2rem rgba(0, 0, 0, 0.25);
}
