:root,
::backdrop {
	font-size: clamp(15px, 1dvw + 1dvh + 0.5vmin, 18px);
	--max-content-width: 100rem;

	/* |||||||||| |||||||||| |||||||||| |||||||||| colors */
	/* #f5f5f5 */
	--clr-0a-solid: hsl(0, 0%, 96%);
	--clr-0a-alpha: 0, 0%, 96%;
	--clr-0b-solid: hsl(0, 0%, 13%);

	/* #1c355e */
	--clr-1a-solid: hsl(217, 54%, 24%);
	--clr-1a-alpha: 217, 54%, 24%;
	--clr-1a-solid-darken-50: hsl(217, 54%, 12%);

	/* #ef991f */
	--clr-1b-solid: hsl(35, 87%, 53%);
	--clr-1b-alpha: 35, 87%, 53%;
	--clr-1b-solid-darken-50: hsl(35, 87%, 26.5%);

	/* #2d7ad2 */
	--clr-2a-solid: hsl(212, 65%, 50%);
	--clr-2a-alpha: 212, 65%, 50%;
	--clr-2a-solid-darken-50: hsl(212, 65%, 25%);

	/* #dd3c4f */
	--clr-2b-solid: hsl(353, 70%, 55%);
	--clr-2b-alpha: 353, 70%, 55%;
	--clr-2b-solid-darken-50: hsl(353, 70%, 27.5%);

	/* #c7c5d3 */
	--clr-2c-solid: rgb(199, 197, 211);
	--clr-2c-alpha: 249, 14%, 80%;
	--clr-2c-solid-darken-50: hsl(249, 14%, 40%);

	/* |||||||||| |||||||||| |||||||||| |||||||||| icons bgs and img overlays */
	--sphere-1a: radial-gradient(
		circle at 65% 15%,
		white 1px,
		var(--clr-1a-solid) 3%,
		var(--clr-1a-solid-darken-50) 60%,
		var(--clr-1a-solid) 100%
	);

	--sphere-1b: radial-gradient(
		circle at 65% 15%,
		white 1px,
		var(--clr-1b-solid) 3%,
		var(--clr-1b-solid-darken-50) 60%,
		var(--clr-1b-solid) 100%
	);

	--sphere-2a: radial-gradient(
		circle at 65% 15%,
		white 1px,
		var(--clr-2a-solid) 3%,
		var(--clr-2a-solid-darken-50) 60%,
		var(--clr-2a-solid) 100%
	);

	--sphere-2b: radial-gradient(
		circle at 65% 15%,
		white 1px,
		var(--clr-2b-solid) 3%,
		var(--clr-2b-solid-darken-50) 60%,
		var(--clr-2b-solid) 100%
	);

	--sphere-2c: radial-gradient(
		circle at 65% 15%,
		white 1px,
		var(--clr-2c-solid) 3%,
		var(--clr-2c-solid-darken-50) 60%,
		var(--clr-2c-solid) 100%
	);

	--sphere-2c-1a: radial-gradient(
		circle at 65% 15%,
		white 1px,
		var(--clr-2c-solid) 3%,
		var(--clr-1a-solid-darken-50) 60%,
		var(--clr-2c-solid) 100%
	);

	--eye: radial-gradient(
		circle at 50% 50%,
		hsl(0, 0%, 50%, 0.15) 25%,
		hsl(0, 0%, 0%, 0.65) 75%,
		hsl(0, 0%, 50%, 0.15) 100%
	);

	/* |||||||||| |||||||||| |||||||||| |||||||||| transition */
	--time: 0.1s;
	--easing: ease-in;

	/* |||||||||| |||||||||| |||||||||| |||||||||| logo & header */
	--logo-size: 2rem;
	--logo-x: 1;
	--logo-y: 1;
	--logo-height: calc((var(--logo-size) / var(--logo-x)) * var(--logo-y));

	--header-top: 0.75rem;
	--header-bottom: 0.75rem;
	--header-height: calc(
		var(--header-top) + var(--logo-height) + var(--header-bottom)
	);
	--main-height: calc(100% - var(--header-height) * 2);

	/* |||||||||| |||||||||| |||||||||| |||||||||| slides bgs and overlays */
	/* --shadow-left: 2rem 0rem 1.5rem -1.5rem rgba(0, 0, 0, 0.1);
	--shadow-right: -2rem 0rem 1.5rem -1.5rem rgba(0, 0, 0, 0.1); */

	/* |||||||||| |||||||||| |||||||||| |||||||||| */
	--heading-bottom-indent: 6rem;
	--heading-bottom-indent-x2: 12rem;
}
