:root,
::backdrop {
	--max-content-width: 100rem;

	--clr-0-100-solid: hsl(0, 0%, 96%);
	--clr-0-900-solid: hsl(0, 0%, 13%);

	--clr-1-500-solid: hsl(0, 78%, 54%);
	--clr-1-500-solid-invert: hsl(180, 78%, 46%);
	--clr-1-900-solid: hsl(0, 1%, 25%);

	--clr-2-300-solid: hsl(233, 9%, 65%);
	--clr-2-500-solid: hsl(44, 85%, 55%);
	--clr-2-600-solid: hsl(146, 43%, 41%);
	--clr-2-700-solid: hsl(261, 35%, 43%);

	--time: 0.25s;
	--easing: ease-in;

	--logo-size: 10rem;
	--logo-x: 9;
	--logo-y: 3;
	--logo-height: calc(var(--logo-size) / var(--logo-x)) * var(--logo-y);

	--header-top: 1rem;
	--header-bottom: 1rem;
	--header-height: calc(
		var(--header-top) + var(--logo-height) + var(--header-bottom)
	);
}
