/* |||||||||| |||||||||| |||||||||| |||||||||| no scroll on open modal */
.root-scroller {
	block-size: 100dvb;
	overflow: auto;
	scrollbar-gutter: stable both-edges;

	&:has(dialog[open]:modal) {
		overflow: hidden;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| a11y */
.sr-only,
.sr-only-focusable:not(:focus):not(:focus-within) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| grid system */
.grid-x {
	--shrink: 0.75;
	--width: var(--container-width, var(--max-content-width));
	--count: var(--repeat, auto-fit);

	--col-x: repeat(
		var(--count),
		minmax(
			min(
				(
					((var(--width) - var(--gap-x, 0rem) * (var(--col) - 1)) / var(--col)) *
						var(--shrink)
				),
				100%
			),
			1fr
		)
	);

	display: grid;
	column-gap: var(--gap-x, 0rem);
	row-gap: var(--gap-y, 0rem);
	grid-template-columns: var(--col-x);
}

/* |||||||||| |||||||||| |||||||||| flex */
.flex-x {
	--shrink: 0.75;
	--width: var(--container-width, var(--max-content-width));

	--width-x: min(
		(
			((var(--width) - var(--gap-x, 0rem) * (var(--col) - 1)) / var(--col)) *
				var(--shrink)
		),
		100%
	);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: var(--gap-x, 0rem);
	row-gap: var(--gap-y, 0rem);
}
.flex-x > * {
	flex: 1 1 var(--width-x);
}

/* |||||||||| |||||||||| |||||||||| width */
.width-x {
	--width: var(--container-width, var(--max-content-width));
	--width-x: min(
		(
			((var(--width) - var(--gap-x, 0rem) * (var(--col) - 1)) / var(--col)) *
				var(--x) + var(--gap-x, 0rem) * (var(--x) - 1)
		),
		100%
	);

	width: var(--width-x);
}

/* |||||||||| |||||||||| |||||||||| */
.grid-full-width {
	grid-column: 1 / -1;
}

.c-span-x {
	grid-column: span var(--x, 2);
}
.r-span-x {
	grid-row: span var(--x, 2);
}

.a-self-s {
	align-self: start;
}
.a-self-e {
	align-self: end;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| scroll-snap */
.scroll-snap-inline {
	--items: 12; /* number of grid-items */
	--row: calc(var(--items) / var(--repeat));
	--flow: column;

	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	grid-template-rows: repeat(var(--row, auto), min-content);
	grid-auto-flow: var(--flow, row);
}
.scroll-snap-inline > * {
	scroll-snap-align: center;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| img */
.o-fit-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.o-fit-contain {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.img-box {
	position: relative;
}
.img-box img {
	position: absolute;
	inset: 0;
}

.circle,
.circle::before,
.circle::after {
	border-radius: 50%;
	aspect-ratio: 1;
	overflow: hidden;
}
/* |||||||||| |||||||||| |||||||||| |||||||||| */
.v-visible {
	visibility: visible;
}

.margin-l-auto {
	margin-left: auto;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.ellipsis {
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
}
.ellipsis-box:where(:hover, :focus-visible) .ellipsis {
	overflow-x: auto;
	scrollbar-width: none;
	text-overflow: clip; /* for webkit-based browsers */
}
*:where(:hover, :focus) .ellipsis::-webkit-scrollbar {
	display: none;
}
