.plarson-test .slide-content {
	grid-auto-rows: min-content 59dvh;
}

.plarson-test .slide-bg {
	--side: 0;
	--w: 100%;
	--overlay: linear-gradient(
		90deg,
		hsla(0, 0%, 0%, 0.75) 0%,
		hsla(0, 0%, 0%, 0.75) 100%
	);
	--tint: hsla(250, 70%, 40%, 0.5);
	--image: url(/images/demo-3.webp);
}

.plarson-chat.demo > * {
	min-height: auto;
}

/* |||||||||| |||||||||| PLARSON TEST |||||||||| |||||||||| */
/* --- the shortest solution --- */
.plarson-chat {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: minmax(50px, min-content) 1fr minmax(100px, min-content);
	gap: 0.5em;
}

.plarson-col-span-2 {
	grid-column: span 2;
}

.plarson-dummy-items {
	overflow-y: scroll;
	overscroll-behavior: contain;
	display: grid;
	gap: 1rem;
}

/* --- alternative solution, the appropriate class names should be added to the html --- */
/* .chat {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: minmax(50px, min-content) 1fr minmax(100px, min-content);
	grid-template-areas:
		"chat-header chat-header"
		"chat-members chat-messages"
		"chat-footer chat-footer";
	gap: 0.5em;
}
.chat-header {
	grid-area: chat-header;
}
.chat-members {
	grid-area: chat-members;
}
.chat-messages {
	grid-area: chat-messages;
}
.chat-footer {
	grid-area: chat-footer;
} */
