.main-header__group {
	padding-block: var(--header-top) var(--header-bottom);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--clr-1a-solid);
}

.brand-logo {
	--clr: var(--clr-1a-solid);

	display: block;
	max-width: var(--logo-size);
	min-width: var(--logo-size);
	aspect-ratio: var(--logo-x) / var(--logo-y);
	outline: none;
	overflow: hidden;
}
.brand-logo:hover {
	--clr: #d6001c;
}

/* --- */
.header-placeholder {
	max-height: 0;
	overflow: hidden;
	margin-bottom: var(--header-height);
}
