/* |||||||||| |||||||||| |||||||||| |||||||||| common */
.pattern-bg {
	--s: 84px; /* control the size*/
	--c1: hsl(0, 0%, 99%);
	--c2: hsl(0, 0%, 96%);
	--c3: hsl(0, 0%, 93%);

	--_g: 0 120deg, #0000 0;
	background: conic-gradient(
			from 0deg at calc(500% / 6) calc(100% / 3),
			var(--c3) var(--_g)
		),
		conic-gradient(
			from -120deg at calc(100% / 6) calc(100% / 3),
			var(--c2) var(--_g)
		),
		conic-gradient(
			from 120deg at calc(100% / 3) calc(500% / 6),
			var(--c1) var(--_g)
		),
		conic-gradient(
			from 120deg at calc(200% / 3) calc(500% / 6),
			var(--c1) var(--_g)
		),
		conic-gradient(
			from -180deg at calc(100% / 3) 50%,
			var(--c2) 60deg,
			var(--c1) var(--_g)
		),
		conic-gradient(
			from 60deg at calc(200% / 3) 50%,
			var(--c1) 60deg,
			var(--c3) var(--_g)
		),
		conic-gradient(
			from -60deg at 50% calc(100% / 3),
			var(--c1) 120deg,
			var(--c2) 0 240deg,
			var(--c3) 0
		);

	background-size: calc(var(--s) * 1.732) var(--s);
}

.logo-link {
	display: block;
	width: var(--logo-size);
	aspect-ratio: var(--logo-x) / var(--logo-y);
	outline: none;
	overflow: hidden;
}
.logo-link__img {
	width: 100%;
	height: 100%;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| all slides */
.slide-content {
	margin-top: 3rem;
	display: grid;
	align-items: center;
}

.heading {
	--col: 3;
	--x: 1;

	display: grid;
	grid-template-columns: 0.33em 1fr;
	grid-template-rows: repeat(2, min-content);
	column-gap: 0.5em;
	align-self: start;
}
.heading::before {
	content: "";
	background-color: var(--clr-1-500-solid-invert);
}

.main-ttl {
	--x: 3;
	--col: 5;

	row-gap: 1em;
}
