.__slide-blobs-bg .slide-bg:nth-child(1) {
	--left: -10% auto 0 -10%;
	--side: var(--left);
	--w-inline: max(40%, 10rem);
	--h-inline: unset;
	--radius: 27% 73% 76% 24% / 57% 25% 75% 43%;
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.2) 10%,
		hsl(0, 0%, 0%, 0.8) 90%
	);
	--asp-ratio: 1;
}

.__slide-blobs-bg .slide-bg:nth-child(2) {
	--bg: var(--clr-1a-solid-invert);
	--right: 40% -7% 0 auto;
	--side: var(--right);
	--w-inline: max(30%, 7rem);
	--h-inline: unset;
	--radius: 36% 64% 16% 84% / 57% 38% 62% 43%;
	--asp-ratio: 1;
}

.__slide-blobs-bg .slide-bg:nth-child(3) {
	--bg: var(--clr-1b-solid-invert);
	--right: -45% 35% 0 auto;
	--side: var(--right);
	--w-inline: max(10%, 4rem);
	--h-inline: unset;
	--radius: 52% 48% 35% 65% / 48% 69% 31% 52%;
	--asp-ratio: 1;
}

.__slide-blobs-bg .slide-ttl {
	--gap-x: 0.5em;
	--gap-y: 0.25em;
	--col: 3;
	--x: 1;
	--sphere: var(--sphere-2b);
}
