.slide-6 .slide-bg,
.slide-6 .slide-bg-overlay,
.slide-6 .slide-bg:first-child,
.slide-6 .slide-bg-overlay:first-child {
	--w: var(--w-block);
	--h: var(--h-block);
	--tilt-base: 40%;
	--trend-base: 20%;
}

.slide-6 .slide-bg,
.slide-6 .slide-bg-overlay {
	--side: var(--bottom);
	--clip: var(--clp-bottom);

	--image: url(/images/bg-1.webp);
	--overlay: var(--overlay-2);
	--tint: var(--tint-2);
}

.slide-6 .slide-bg:first-child,
.slide-6 .slide-bg-overlay:first-child {
	--side: var(--top);
	--clip: var(--clp-top);
}
