.slide-bg {
	--image: url(/images/demo-img-1080p.webp);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-1 .slide-bg {
	--side: 0;
	--w: 100%;

	--overlay: var(--lr-dark-light);
	--tint: var(--tint-1);
}

.slide-1 .slide-content {
	grid-auto-rows: min-content 1fr min-content;
}

.slide-1 .heading {
	--x: 3;
	--col: 7;
}

.slide-1 .cards-w-icons {
	--col: 4;
	--gap-x: 2rem;
	--gap-y: 4rem;
	--li-gap-x: 2.25rem;
	--li-gap-y: 2rem;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-2 .slide-bg,
.slide-2 .slide-bg-overlay {
	--side: var(--left);
	--clip: var(--clp-left);

	--clr-filter: rgba(20, 20, 200, 0.2);
	--overlay: var(--lr-light-dark);
	--tint: var(--tint-2);
}
.slide-2 .slide-bg::before {
	filter: invert(1) grayscale(1);
}

.slide-2 .list-w-arrows {
	--col: 3;
	--gap-x: 4rem;
	--gap-y: 4rem;
	--li-gap-x: 0rem;
	--li-gap-y: 2rem;
}

.slide-2 .slide-content > *:last-child {
	margin-bottom: var(--heading-bottom-indent-x2);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-3 .slide-bg {
	--side: var(--right);
	--clip: var(--clp-right);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-4 .slide-bg {
	--side: var(--left);
	--clip: var(--clp-left);
}

.slide-4 .slide-content > *:last-child {
	margin-bottom: var(--heading-bottom-indent-x2);
}

.slide-4 .cards {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: 4rem;
	--li-gap-x: 2.25rem;
	--li-gap-y: 2rem;
}

.slide-4 .heading {
	row-gap: 0.25em;
}
.slide-4 .heading::before {
	background-color: var(--clr-0-900-solid);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-5 .slide-bg,
.slide-5 .slide-bg-overlay {
	--side: var(--right);
	--clip: var(--clp-right);

	--overlay: var(--lr-dark-light);
	--tint: var(--tint-3);
}

.slide-5 .slide-bg:first-child,
.slide-5 .slide-bg-overlay:first-child {
	--left: 0 auto 0 -19%;
	--side: var(--left);
	--clip: var(--clp-left);
}

.slide-5 .cards {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: 4rem;
	--li-gap-x: 2.25rem;
	--li-gap-y: 2rem;
}

.slide-5 .slide-content {
	--col: 2;
	--shrink: 0.5 !important;
	--gap-x: 2rem;
	--gap-y: 2rem;
}

.slide-5 .overlay:nth-child(4n + 1) {
	--clr-filter: hsla(275, 50%, 25%, 0.25);
}
.slide-5 .overlay:nth-child(4n + 2) {
	--clr-filter: hsla(125, 50%, 25%, 0.25);
}
.slide-5 .overlay:nth-child(4n + 3) {
	--clr-filter: hsla(75, 50%, 25%, 0.25);
}
.slide-5 .overlay:nth-child(4n + 4) {
	--clr-filter: hsla(0, 50%, 25%, 0.25);
}

.slide-5-img-filter {
	filter: grayscale(1) brightness(0.5) contrast(1.25);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-6 .slide-bg,
.slide-6 .slide-bg-overlay,
.slide-6 .slide-bg:first-child,
.slide-6 .slide-bg-overlay:first-child {
	--w: var(--w-block);
	--h: var(--h-block);
	--tilt-base: 40%;
	--trend-base: 20%;
}

.slide-6 .slide-bg,
.slide-6 .slide-bg-overlay {
	--side: var(--bottom);
	--clip: var(--clp-bottom);

	--overlay: var(--lr-dark-light);
	--tint: var(--tint-4);
}

.slide-6 .slide-bg:first-child,
.slide-6 .slide-bg-overlay:first-child {
	--side: var(--top);
	--clip: var(--clp-top);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-7 .slide-bg,
.slide-7 .slide-bg-overlay {
	--side: var(--center);
	--clip: var(--clp-right);

	--overlay: var(--lr-dark-light);
	--tint: var(--tint-3);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-8 .slide-bg,
.slide-8 .slide-bg-overlay {
	--side: var(--left);
	--mask: var(--clp-left);

	--overlay: var(--lr-dark-light);
	--tint: var(--tint-2);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-9 .slide-bg,
.slide-9 .slide-bg-overlay {
	--side: var(--right);
	--mask: var(--clp-right);

	--overlay: var(--lr-dark-light);
	--tint: var(--tint-4);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-10 .slide-bg,
.slide-10 .slide-bg-overlay,
.slide-10 .slide-bg:first-child,
.slide-10 .slide-bg-overlay:first-child {
	--w-inline: max(15%, 10rem);
	--tilt-base: 40%;
	--trend-base: 20%;
}

.slide-10 .slide-bg,
.slide-10 .slide-bg-overlay {
	--side: var(--left);
	--clip: var(--clp-left);

	--overlay: var(--lr-dark-light);
	--tint: var(--tint-2);
}

.slide-10 .slide-bg:first-child,
.slide-10 .slide-bg-overlay:first-child {
	--side: var(--right);
	--clip: var(--clp-right);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
.slide-11 .slide-bg {
	--w: auto;
	--h: 80%;
	--side: var(--center);

	--overlay: var(--lr-dark-light-1);
	--tint: var(--tint-5);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| */
