.__slide-diag-bg .slide-bg,
.__slide-diag-bg .slide-bg-overlay {
	--side: var(--center);
	--clip: var(--clp-right);
	--image: url(/images/demo-5-xl.webp);
	--filters: invert(1) grayscale(1) contrast(0.75) brightness(1.1);
	--pos: 0%;
	--clr-filter: hsla(25, 100%, 50%, 0.1);
}

.__slide-diag-bg .flex-space-x > .width-x {
	--col: 3;
	--x: 1;

	display: grid;
	gap: var(--heading-bottom-indent);
}

.__slide-diag-bg .slide-ttl {
	--gap-x: 0.5em;
	--gap-y: 0.25em;
	--col: 3;
	--x: 1;
	--sphere: var(--sphere-2b);
}

.__slide-diag-bg .__snake-list {
	--img-size: min(3em, 3vw + 1em);
	--img-place: start center;
	--gap-y: 1.5em;

	row-gap: var(--gap-y);
}
.__slide-diag-bg .__snake-list .unit {
	--gap-x: var(--gap-y);
}

.__slide-diag-bg .flex-space-x :nth-child(1) .__snake-list {
	--sphere: var(--sphere-2b);
}

.__slide-diag-bg .flex-space-x :nth-child(2) .__snake-list {
	--sphere: var(--sphere-2a);
	--clr: var(--clr-2a-solid);
}

/* --- */
.__snake-list.-head .arrow-left,
.__snake-list.-head .arrow-right,
.__snake-list.-head .arrow-up,
.__snake-list.-head .arrow-down {
	--clr: var(--clr-2a-alpha);
}
