.__slide-title-slide .slide-bg {
	--image: url(/images/demo-1-xl.webp);
	--side: 0;
	--w: 100%;
	--overlay: linear-gradient(
		-90deg,
		hsl(0, 0%, 0%, 0.4) 0%,
		hsl(0, 0%, 0%, 0.8) 100%
	);
	--tint: hsl(var(--clr-1a));
}

.__slide-title-slide .slide-bg-overlay {
	--side: var(--left);
	--clip: var(--clp-left);
	--clr-filter: hsl(var(--clr-1b));
	--overlay-blends: overlay;
}

.__title-slide-info {
	--col: 4;
	--gap-x: 1.5em;
	--gap-y: 6rem;
	--img-size: 4em;

	margin-block: 4em;
}
.__title-slide-info .unit {
	--gap-y: 1.5rem;
}

.__slide-title-slide .side-ribbon {
	--bottom-right: auto 1em 3em auto;

	padding: 1em 0.75em;
	animation: slide-out 0.5s cubic-bezier(0.36, 0, 0.66, -0.56) 6s forwards;
}

/* --- */
.__browsers {
	--img-h: 2rem;
	--radius: calc(var(--img-h) * 0.7);
	--bottom-left: auto auto 3em auto;

	position: absolute;
	inset: var(--bottom-left);
}
.__browsers .inner-icon {
	padding: 15%;
}
.__browsers .__safari {
	margin-top: 0.06em;
}
.__browsers .mui-icon {
	--icon-size: var(--img-h);
}
.__browsers > * {
	animation: collapse 0.5s cubic-bezier(0.36, 0, 0.66, -0.56) 6s forwards;
}

/* --- */
@keyframes slide-out {
	100% {
		transform: translateX(200%);
	}
}

@keyframes collapse {
	100% {
		--radius: 0;
		--r-offset: 0.75turn;
		--d: calc(var(--i) / var(--total));
		--r-amount: 1turn;
		--r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
		--transform: rotate(var(--r)) translate(var(--radius))
			rotate(calc(-1 * var(--r)));

		transform: var(--transform);
		opacity: 0;
	}
}
