.slide-11 .slide-bg {
	--w: auto;
	--h: 80%;
	--side: var(--center);
	--overlay: var(--lr-dark-light-1);
	--image: url(/images/demo-3.webp);
}

.slide-11 .cards {
	--col: 1;
	--gap-x: 10vw;
	--gap-y: 10vw;

	--img-size: 50%;
}

.slide-11 .cards > * {
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
}
