.slide-12 .slide-bg,
.slide-12 .slide-bg-overlay {
	--side: var(--center);
	--clip: var(--clp-right);
	--image: url(/images/demo-4.webp);
	--filters: invert(1) grayscale(1) contrast(0.85) brightness(1.25);
	--pos: 20%;
	--clr-filter: hsl(100, 100%, 50%, 0.1);
}

.slide-12 .slide-body {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: var(--header-height);
}
.slide-12 .slide-body > .width-x {
	--col: 3;
	--x: 1;

	display: grid;
	gap: var(--heading-bottom-indent);
}

.slide-12 .cards_arrows_rl {
	--head-bg-clr: var(--clr-2a-alpha);
	--bg: var(--clr-2a-solid);
	--sphere: var(--sphere-2a);
}
