.slide-12 .slide-bg,
.slide-12 .slide-bg-overlay {
	--side: var(--center);
	--clip: var(--clp-right);
	--image: url(/images/demo-4.webp);
	--filters: invert(1) grayscale(1) contrast(0.85);
	--bg-pos: 20%;
	--clr-filter: hsl(100, 100%, 50%, 0.1);
}
