.slide-13 .slide-bg:nth-child(1) {
	--left: -10% auto 0 -10%;
	--side: var(--left);
	--w-inline: max(40%, 10rem);
	--h-inline: unset;
	--radius: 35% 65% 37% 63% / 52% 66% 34% 48%;
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.2) 10%,
		hsl(0, 0%, 0%, 0.8) 90%
	);
	--asp-ratio: 1;
}

.slide-13 .slide-bg:nth-child(2) {
	--bg: var(--clr-1a-solid-invert);
	--right: 40% -7% 0 auto;
	--side: var(--right);
	--w-inline: max(30%, 7rem);
	--h-inline: unset;
	--radius: 64% 36% 46% 54% / 37% 31% 69% 63%;
	--asp-ratio: 1;
}

.slide-13 .slide-bg:nth-child(3) {
	--bg: var(--clr-1b-solid-invert);
	--right: -45% 35% 0 auto;
	--side: var(--right);
	--w-inline: max(10%, 4rem);
	--h-inline: unset;
	--radius: 52% 48% 35% 65% / 48% 69% 31% 52%;
	--asp-ratio: 1;
}

.slide-13 .ttl-box {
	--col: 3;
	--x: 1;
}

.cards_arrows {
	--col: 3;
	--x: 1;
	--gap-x: 3rem;
	--gap-y: var(--gap-x);
	--img-h: 3rem;
	--head-bg-clr: var(--clr-2b-alpha);
	--bg: var(--clr-2b-solid);
	--sphere: var(--sphere-2b);

	counter-reset: arrow-list-counter 0;
}

/* .img-box is not working properly on chrome because of "container: img-container" / size; the counter is not incrementing */
.cards_arrows .card__img {
	counter-increment: arrow-list-counter;
	display: grid;
	place-items: center;
	border-radius: 50%;
	color: var(--clr-0a-solid);
	font-weight: var(--fw-hv);
	font-size: calc(var(--img-h) / 2);
	height: var(--img-h);
	width: var(--img-h);
	aspect-ratio: 1;
}

.cards_arrows .card__img::before {
	content: counter(arrow-list-counter);
	font-family: var(--ff-rg);
}

.card__head_arrow::before,
.card__head_arrow::after {
	position: absolute;
	content: "";
	z-index: -1;
}

.card__head_arrow::before {
	left: var(--img-h);
	height: calc(var(--img-h) / 1.5);
	width: calc(100% - (var(--img-h) + var(--img-h) / 3));
	background: linear-gradient(
		90deg,
		hsl(var(--head-bg-clr), 0) 80%,
		hsl(var(--head-bg-clr), 1) 95%
	);
}

.card__head_arrow::after {
	right: 0;
	left: auto;
	border-top: calc(var(--img-h) / 2) solid transparent;
	border-bottom: calc(var(--img-h) / 2) solid transparent;
	border-left: calc(var(--img-h) / 2) solid hsl(var(--head-bg-clr), 1);
}
