.__slide-charts .slide-bg,
.__slide-charts .slide-bg-overlay {
	--w: var(--w-block);
	--h: var(--h-block);
	--side: var(--bottom);
	--clip: var(--clp-bottom);
	--angle: -25%;
	--trend: 90%;
}

.__slide-charts .slide-bg:nth-child(1),
.__slide-charts .slide-bg-overlay:nth-child(1) {
	--side: var(--top);
	--clip: var(--clp-top);
}

.__slide-charts .slide-bg:nth-child(2) {
	--image: url(/images/demo-4-xl.webp);
	--pos: center 20%;
}

.__slide-charts .slide-ttl {
	--col: 5;
	--x: 2;
}

.__slide-charts .slide-body {
	--col: 3;
	--grow: 0;
	--gap-x: 3rem;
	--gap-y: var(--gap-x);

	margin-block: var(--gap-x);
}

.__slide-charts .slide-body > * {
	/* background-color: hsl(var(--clr-0a)); */
	padding: 1rem;
	aspect-ratio: 2 / 1.5;
}
