.slide-charts .slide-bg,
.slide-charts .slide-bg-overlay {
	--w: var(--w-block);
	--h: var(--h-block);
	--side: var(--bottom);
	--clip: var(--clp-bottom);
	--tilt-base: -25%;
	--trend-base: 90%;
}

.slide-charts .slide-bg:nth-child(1),
.slide-charts .slide-bg-overlay:nth-child(1) {
	--side: var(--top);
	--clip: var(--clp-top);
	--bg: var(--clr-1b-solid-invert);
}

.slide-charts .slide-bg:nth-child(2) {
	--pos: center 20%;
	--image: url(/images/demo-4.webp);
}

.slide-charts .slide-body {
	--col: 4;
	--x: 3;
	--gap-x: 2rem;
	--gap-y: 2rem;

	z-index: 1;
	background-color: var(--clr-0a-solid);
	border-radius: 8px;
	place-self: start center;
	padding: 2rem;
}

.slide-charts .slide-body > * {
	aspect-ratio: 1;
}

.slide-charts .ttl-box {
	--col: 3;
	--x: 1;
}
