.slide-12 .slide-bg,
.slide-12 .slide-bg-overlay {
	--side: var(--center);
	--clip: var(--clp-right);

	/* --overlay: var(--lr-dark-light); */
	--tint: hsla(var(--clr-2b-alpha), 0.5);

	--image: url(/images/demo-4.webp);
}

.slide-12 .slide-bg::before {
	background-position: 100%;
}
