.__slide-typography .slide-bg {
	--image: url(/images/demo-1-xl.webp);
	--w: max(50%, 10rem);
	--side: var(--left);
	--mask: var(--clp-left);
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.33) 0%,
		hsl(0, 0%, 0%, 0.66) 50%
	);
	--tint: hsl(var(--clr-1b));
}

.__slide-typography .slide-ttl {
	--col: 4;
	--x: 1;
}

.__slide-typography .slide-body {
	--gap-x: min(5em, 7vw + 1em);
	--gap-y: 3em;
	--img-size: var(--gap-x);

	--col: 3;
	--justify: center;
	--grow: 0;

	margin-block: 3rem;
}

.__slide-typography .slide-body .unit {
	--gap-x: min(2em, 2vw + 1em);

	grid-auto-rows: min-content 1fr;
}

.__slide-typography .slide-body .unit__body {
	display: grid;
	row-gap: 0.5em;
}
.__slide-typography .slide-body > *:nth-child(1) .unit__body {
	place-items: end;
}
.__slide-typography .slide-body > *:nth-child(2) .unit__body {
	place-items: end start;
	margin-top: 0.675em;
}
