/* .__slide-form .slide-bg {
	--w-inline: max(10%, 5rem);
	--angle: -10%;
	--trend: 15%;
}

.__slide-form .slide-bg:nth-child(1) {
	--image: url(/images/demo-4-xl.webp);
	--side: var(--left);
	--clip: var(--clp-left);
	--tint: hsl(var(--clr-2c));
}
.__slide-form .slide-bg::before {
	background-position: 80%;
}

.__slide-form .slide-bg:nth-child(2) {
	--side: var(--right);
	--clip: var(--clp-right);
	--image: url(/images/demo-bg-1.svg);
} */

.__slide-form .slide-bg.trapeze {
	--image: url(/images/demo-3-xl.webp);
	--side: var(--left);
	--clip: var(--clp-left);
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.3) 0%,
		hsl(0, 0%, 0%, 0.8) 70%
	);
	--tint: hsl(var(--clr-2b));
	--filters: invert(1) grayscale(0.5) contrast(0.75);
	--pos: 80%;
}

.__slide-form .slide-bg.spike {
	--image: url(/images/demo-bg-1.svg);
	--side: var(--left);
	--clip: var(--clp-left);
	--w: 100%;
	--h: 100%;
	--angle: 0%;
	--trend: 50%;
	--underlay: linear-gradient(
		90deg,
		hsl(var(--clr-1a), 1) 10%,
		hsl(var(--clr-1b), 1) 75%
	);
}

.__slide-form .slide-body {
	--col: 4;
	--x: 1;

	place-self: center;
	margin-block: 6rem 12rem;
}

.__slide-form .slide-ttl {
	--col: 3;
	--x: 1;
}
