.__slide-snake-list .slide-bg,
.__slide-snake-list .slide-bg-overlay {
	--side: var(--center);
	--clip: var(--clp-right);
	--image: url(/images/demo-5-xl.webp);
	--filters: invert(1) grayscale(1) contrast(0.75) brightness(1.1);
	--pos: 0%;
	--clr-filter: hsla(200, 100%, 50%, 0.1);
	--angle: 85%;
}

.__slide-snake-list .slide-body {
	--col: 2;
	--x: 1.5;
	--shrink: 0.33;
	--gap-x: 4em;
	--gap-y: var(--gap-x);

	place-self: center;
	margin-block: var(--gap-x);
}

.__slide-snake-list .__snake-list {
	--img-size: min(3em, 3vw + 1em);
	--img-place: center;
	--gap-y: 1.5em;
	--flow: column;
	--row-x: repeat(3, auto);

	row-gap: var(--gap-y);
}
.__slide-snake-list .__snake-list .unit {
	--gap-x: var(--gap-y);

	grid-auto-rows: min-content 1fr;
}
