.__slide-advantages .slide-bg,
.__slide-advantages .slide-bg-overlay {
	--image: url(/images/demo-3-xl.webp);
	--side: var(--left);
	--clip: var(--clp-left);
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.1) 0%,
		hsl(0, 0%, 0%, 0.7) 70%
	);
	--tint: hsl(var(--clr-2b));
	--filters: invert(1) grayscale(0.5) contrast(0.75);
	--pos: 80%;
}

.__slide-advantages .flex-space-x > .width-x {
	--col: 3;
	--x: 1;
}

.__slide-advantages .slide-ttl {
	--gap-x: 0.75em;
	--gap-y: 0.5em;
	--col: 5;
	--x: 3;

	margin-bottom: 2em;
}

.__pro-cons-list {
	--img-size: min(3em, 3vw + 1em);
	--img-place: center;

	row-gap: var(--img-size);
}
.__pro-cons-list .unit {
	--gap-x: var(--img-size);
	--gap-y: 1.5em;
}

.__slide-advantages .__demo-pic-1 {
	--filters: drop-shadow(0 0 2rem hsl(var(--clr-2b)));
	--img-h: 10rem;

	margin-top: 3rem;
}

.__slide-advantages .__left-col {
	display: flex;
	flex-direction: column;
}
