.__slide-charts .slide-bg,
.__slide-charts .slide-bg-overlay {
	--w: var(--w-block);
	--h: var(--h-block);
	--side: var(--bottom);
	--clip: var(--clp-bottom);
	--angle: -25%;
	--trend: 90%;
}

.__slide-charts .slide-bg:nth-child(1),
.__slide-charts .slide-bg-overlay:nth-child(1) {
	--side: var(--top);
	--clip: var(--clp-top);
}

.__slide-charts .slide-bg:nth-child(2) {
	--image: url(/images/demo-4-xl.webp);
	--pos: center 20%;
}

.__slide-charts .slide-ttl {
	--col: 4;
	--x: 1;
}

.__slide-charts .slide-body {
	--col: 4;
	--x: 3;
	--gap-x: 2rem;
	--gap-y: 2rem;

	z-index: 1;
	background-color: hsl(var(--clr-0a));
	border-radius: 8px;
	place-self: center;
	padding: 1rem;
	margin-block: 4rem;
}

.__slide-charts .slide-body > * {
	aspect-ratio: 1;
}
