.f-bg {
	--w-inline: max(25%, 10rem);
	--h-inline: 100%;
	--w-block: 50%, var(--max-content-width);
	--h-block: 15%;

	--w: var(--w-inline);
	--h: var(--h-inline);

	--ts: 0 0 auto 0;
	--ls: 0 auto 0 0;
	--rs: 0 0 0 auto;
	--bs: auto 0 0 0;
	--cs: 0 -100vw 0 -100vw;

	--lts: 0 auto auto 0;
	--lbs: auto auto 0 0;
	--rts: 0 0 auto auto;
	--rbs: auto 0 0 auto;

	--tilt-base: 75%;
	--trend-base: 50%;
	--tilt-pair: calc(100% - var(--tilt-base));
	--trend-pair: calc(100% - var(--trend-base));

	--scale: 2.5;

	--img-1-url: url(/images/group-trucks-parked-row.webp);

	/* --shadow-left: 2rem 0rem 1.5rem -1.5rem rgba(0, 0, 0, 0.1);
	--shadow-right: -2rem 0rem 1.5rem -1.5rem rgba(0, 0, 0, 0.1); */
}

/* figures common styles */
.f-bg::before,
.f-bg::after {
	content: "";
	position: absolute;
	margin: auto;
	inset: var(--side);
	width: var(--w);
	height: var(--h);
	clip-path: var(--clip, none);
	mask: var(--mask, none);
	-webkit-mask: var(--mask, none);
}
.f-bg::before {
	z-index: -1;
	background-color: var(--clr-primary-500-solid-opposite);
}
.f-bg::after {
	background-color: var(--clr-primary-100-solid);
	mix-blend-mode: difference;
	pointer-events: none;
}

/* figures */
.rounded::before,
.rounded::after {
	border-radius: 50%;
	transform: scale(var(--scale, 1.5));
}

/* --- */
.diag {
	--w-inline: max(50%, 768px);
	--lf: polygon(0 0, var(--tilt-base) 0, 100% 100%, var(--tilt-pair) 100%);
	--rf: polygon(var(--tilt-pair) 0%, 100% 0%, var(--tilt-base) 100%, 0% 100%);
}

/* --- */
.trapeze {
	--lf: polygon(0 0, 100% 0, var(--tilt-base, 50%) 100%, 0% 100%);
	--rf: polygon(var(--tilt-pair, 50%) 0, 100% 0, 100% 100%, 0% 100%);
}

/* --- */
.triangle {
	--ltf: polygon(100% 0, 0 var(--tilt-base), 0 0);
	--rtf: polygon(0 0, 100% 0, 100% var(--tilt-base));
	--lbf: polygon(0 var(--tilt-pair), 0% 100%, 100% 100%);
	--rbf: polygon(100% var(--tilt-pair), 0% 100%, 100% 100%);
}

/* --- */
.spike {
	--lf: polygon(
		0% 0%,
		var(--tilt-base) 0%,
		100% var(--trend-base),
		var(--tilt-base) 100%,
		0% 100%
	);
	--rf: polygon(
		100% 0,
		calc(100% - var(--tilt-base)) 0,
		0 var(--trend-pair),
		calc(100% - var(--tilt-base)) 100%,
		100% 100%
	);

	--lf-sub: polygon(
		0% 0%,
		100% 0%,
		var(--tilt-base) var(--trend-pair),
		100% 100%,
		0% 100%
	);
	--rf-sub: polygon(
		100% 0,
		0 0,
		var(--tilt-pair) var(--trend-base),
		0 100%,
		100% 100%
	);

	--tf: polygon(
		0% 0%,
		100% 0,
		100% var(--tilt-base),
		var(--trend-base) 100%,
		0 var(--tilt-base)
	);
	--bf: polygon(
		0 100%,
		100% 100%,
		100% var(--tilt-pair),
		var(--trend-pair) 0,
		0 var(--tilt-pair)
	);
}

/* --- waves https://css-generators.com/ */
.waves {
	--lf: radial-gradient(6.71rem at calc(100% - 9rem) 50%, #000 99%, #0000 101%)
			0 calc(50% - 6rem) / 100% 12rem,
		radial-gradient(6.71rem at calc(100% + 6rem) 50%, #0000 99%, #000 101%)
			calc(100% - 3rem) 50%/100% 12rem repeat-y;

	--rf: radial-gradient(6.71rem at 9rem 50%, #000 99%, #0000 101%) 0
			calc(50% - 6rem) / 100% 12rem,
		radial-gradient(6.71rem at -6rem 50%, #0000 99%, #000 101%) 3rem 50%/100%
			12rem repeat-y;
}

/* --- */
.zigzag {
	--lf: conic-gradient(
			from -157.5deg at right,
			#0000,
			#000 1deg 134deg,
			#0000 135deg
		)
		50%/100% 9.66rem;
}

/* with image */
.w-img::before {
	--grad-1: hsla(230, 84%, 12%, 0.5);
	--over-1: linear-gradient(var(--grad-1), var(--grad-1));

	background-image: var(--over-1), var(--img-1-url);
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(1);
	background-blend-mode: darken;
}
.w-img:nth-child(2n)::before {
	background-position: right center;
}
