.slide-9 .slide-bg:nth-child(1) {
	--left: -50% auto 0 50%;
	--side: var(--left);
	--w-inline: max(45%, 10rem);
	--overlay: repeating-linear-gradient(
		90deg,
		hsla(0, 0%, 0%, 0) 0,
		hsla(0, 0%, 0%, 0.15) 10%,
		hsla(0, 0%, 0%, 0.15) 10%,
		hsla(0, 0%, 0%, 0.3) 20%
	);
	--tint: var(--clr-1a-solid);
	--bg-blend-mode: luminosity, overlay;
}

.slide-9 .slide-bg:nth-child(2) {
	--left: 60% 60% 0 auto;
	--side: var(--left);
	--w-inline: max(35%, 7rem);
	--overlay: var(--lr-dark-light);
	--tint: var(--clr-2b-solid);
	--bg-blend-mode: luminosity, overlay;
	--image: url(/images/demo-3.webp);
}

.slide-9 .slide-bg:nth-child(3) {
	--bg-clr: var(--clr-1b-solid-invert);
	--left: 75% 15% 0 auto;
	--side: var(--left);
	--w-inline: max(10%, 4rem);
	--transform: rotate(45deg);
}

.slide-9 .cards {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: 2rem;
	--li-gap-x: 2.25rem;
	--li-gap-y: 2rem;
	--sphere: var(--sphere-2b);
}

.slide-9 .cards:nth-of-type(2) {
	--col: 1;
}

.slide-9 .heading {
	--heading-bg-clr: var(--clr-2b-solid);

	row-gap: 0.25em;
}

.slide-9 .img-box:not(.icon-bg) {
	aspect-ratio: 16 / 9;
}

.slide-9 .side-ribbon {
	--place: var(--top-left);
	--move-ribbon: var(--left);
}

.slide-9 .icon-bg:nth-of-type(1) {
	--size-x: 2;
	--bg: var(--clr-2a-solid);
}
.slide-9 .icon-bg:nth-of-type(2) {
	--size-x: 3;
	--bg: var(--clr-1a-solid);
}
.slide-9 .icon-bg:nth-of-type(3) {
	--size-x: 4;
	--bg: var(--clr-2b-solid);
}
