.__slide-table .slide-bg {
	--side: var(--right);
	--clip: var(--clp-right);
	--bg: var(--clr-1b-solid);
}

.__slide-table .slide-content {
	grid-auto-rows: auto;
}

.__slide-table .slide-ttl {
	--place-head: center;
}
