.__slide-diamonds-bg .polygon-13 {
	--left: -30% auto 0 5%;
	--side: var(--left);
	--w: max(26%, 10rem);
	--image: url(/images/demo-5-xl.webp);
	--underlay: url(/images/demo-bg-1.svg),
		linear-gradient(
			70deg,
			hsl(var(--clr-2a), 0.75) 20%,
			hsl(var(--clr-2b), 0.75) 95%
		);
	--img-blends: luminosity, overlay;
	--pos: 80%;
}

.__slide-diamonds-bg .polygon-11 {
	--right: 50% 5% 0 auto;
	--side: var(--right);
	--w: max(18%, 7rem);
	--image: url(/images/demo-4-xl.webp);
	--underlay: url(/images/demo-bg-1.svg), url(/images/demo-bg-1.svg),
		linear-gradient(
			-30deg,
			hsl(var(--clr-1a), 0.75) 20%,
			hsl(var(--clr-1b), 0.75) 80%
		);
	--img-blends: luminosity, overlay;
	--pos: 30%;
}

.__slide-diamonds-bg .polygon-9 {
	--right: -45% 35% 0 auto;
	--side: var(--right);
	--w: max(10%, 4rem);
	--image: url(/images/demo-6-sm.webp);
	--underlay: url(/images/demo-bg-1.svg), url(/images/demo-bg-1.svg),
		linear-gradient(
			-30deg,
			hsl(var(--clr-1b), 0.75) 20%,
			hsl(var(--clr-2b), 0.75) 80%
		);
	--img-blends: luminosity, overlay;
	--pos: 20%;
}
