.__slide-table .slide-bg {
	--side: var(--right);
	--clip: var(--clp-right);
}

.__slide-table .slide-content {
	--gap-y: 3rem;

	place-items: start stretch;
}

.__slide-table .o-fit-cover {
	--pos: left top;
}

.__slide-table .__icons-box {
	--img-size: 1.5rem;
	--icon-size: 3rem;
	--img-place: center;

	grid-area: 1 / 1;
	place-self: center;
	place-items: center;
	z-index: 1;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns:
		var(--icon-size) var(--img-size) var(--icon-size) var(--img-size)
		var(--icon-size);
	gap: 1rem;
	filter: drop-shadow(0.15rem 0.15rem 0.15rem hsla(0, 0%, 0%, 0.5));
}
.__slide-table .__icons-box > img:nth-of-type(2) {
	transform: scale(1.1);
}

.auto-table {
	--col: 3;
	--x: 3;

	--place-head: center;
}

.__slide-table .cards {
	--col: 3;
	--x: 2;
	--card-gap: 3rem;
	--img-size: 25rem;
}

.__slide-table .arrow-down {
	--img-place: center;
	--min-arrow-length: var(--img-size);
}

.__slide-table .cards .unit {
	--img-size: 1.5em;
	--gap-x: 1em;
	--gap-y: 0.5em;
}
