.slide-5 .slide-bg,
.slide-5 .slide-bg-overlay {
	--side: var(--right);
	--clip: var(--clp-right);
	--slide-bg-clr-invert: var(--clr-1a-solid-invert);
	--overlay: var(--lr-dark-light);

	--image: url(/images/demo-4.webp);
}
.slide-5 .slide-bg:first-child,
.slide-5 .slide-bg-overlay:first-child {
	--left: 0 auto 0 -19%;
	--side: var(--left);
	--clip: var(--clp-left);
}
.slide-5 .slide-bg::before {
	background-position: 60%;
}

.slide-5 .heading {
	--heading-bg-clr: var(--clr-1a-solid);
}

.slide-5 .slide-body {
	--col: 3;
	--x: 2;
	--gap-x: 2rem;
	--gap-y: 2rem;

	justify-self: center;
}
.slide-5 .slide-body > * {
	width: 100%;
	aspect-ratio: 1;
	z-index: 1;
	box-shadow: 0rem 2rem 2rem -1rem hsl(0, 0%, 0%, 0.33);
}

.slide-5 .scroll-snap-block > *:nth-child(4n + 1) img {
	object-position: 100%;
}
.slide-5 .scroll-snap-block > *:nth-child(4n + 2) img {
	object-position: 66%;
}
.slide-5 .scroll-snap-block > *:nth-child(4n + 3) img {
	object-position: 33%;
}
.slide-5 .scroll-snap-block > *:nth-child(4n + 4) img {
	object-position: 0%;
}

.slide-5 .scroll-snap-inline > *:nth-child(4n + 1) img {
	object-position: 0%;
}
.slide-5 .scroll-snap-inline > *:nth-child(4n + 2) img {
	object-position: 33%;
}
.slide-5 .scroll-snap-inline > *:nth-child(4n + 3) img {
	object-position: 66%;
}
.slide-5 .scroll-snap-inline > *:nth-child(4n + 4) img {
	object-position: 100%;
}
