.__slide-blobs-bg .slide-bg:nth-child(1) {
	--image: url(/images/demo-5-xl.webp);
	--left: -35% auto 0 -10%;
	--side: var(--left);
	--w: max(40%, 10rem);
	--h: auto;
	--radius: 75% 25% 28% 72% / 47% 60% 40% 53%;
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.2) 10%,
		hsl(0, 0%, 0%, 0.8) 90%
	);
	--asp-ratio: 1;
	--pos: 100%;
}

.__slide-blobs-bg .slide-bg:nth-child(2) {
	--right: 40% -7% 0 auto;
	--side: var(--right);
	--w: max(30%, 7rem);
	--h: auto;
	--radius: 36% 64% 16% 84% / 57% 38% 62% 43%;
	--asp-ratio: 1;
}

.__slide-blobs-bg .slide-bg:nth-child(3) {
	--right: -45% 35% 0 auto;
	--side: var(--right);
	--w: max(10%, 4rem);
	--h: auto;
	--radius: 52% 48% 35% 65% / 48% 69% 31% 52%;
	--asp-ratio: 1;
}
