.slide-2 .trapeze-right {
	--right-side: 0 -18% 0 auto;
}

.slide-2 .triangle-left-top,
.slide-2 .triangle-right-bottom {
	--f-inline-width: 10%;
	--f-inline-height: 75%;
}

.slide-2 .triangle-left-top {
	--left-side: 0 auto auto 0;
}
.slide-2 .triangle-right-bottom {
	--right-side: auto 0 0 auto;
}
