.__slide-skewed-overlay .slide-bg {
	--image: url(/images/demo-1-xl.webp);
	--side: 0;
	--w: 100%;
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.4) 0%,
		hsl(0, 0%, 0%, 0.8) 100%
	);
	--tint: hsl(var(--clr-2a));
}

.__slide-skewed-overlay .slide-bg-overlay {
	--w: max(40%, 576px);
	--side: var(--center);
	--clr-filter: hsla(0, 0%, 100%, 0.1);
	--overlay-bg: repeating-linear-gradient(
			90deg,
			hsla(0, 0%, 0%, 0) 0,
			hsla(0, 0%, 0%, 0.3) 20%,
			hsla(var(--clr-2b), 0.3) 20%,
			hsla(0, 0%, 0%, 0.6) 40%
		),
		var(--clr-filter);
	--overlay-blends: hard-light;
	--overlay-transform: skew(-10deg);
}
