.__slide-skewed-overlay .slide-bg {
	--image: url(/images/rubik-0.svg);
	--side: 0;
	--w: 100%;
	--bg-size: auto;

	/* --overlay: linear-gradient(hsl(0, 0%, 0%, 0.4) 0%, hsl(0, 0%, 0%, 0.4) 100%); */
	--underlay: repeating-linear-gradient(
		-75deg,
		hsl(var(--clr-2b), 1) 0,
		hsl(var(--clr-2b), 1) 50%,
		hsl(var(--clr-1a), 1) 50%,
		hsl(var(--clr-1a), 1) 100%
	);
}
