.slide-doughnut .slide-bg {
	--w: auto;
	--h: 80%;
	--side: var(--center);
	--overlay: linear-gradient(
		-90deg,
		hsl(0, 0%, 0%, 0.2) 10%,
		hsl(0, 0%, 0%, 0.8) 90%
	);
	--image: url(/images/demo-3.webp);
}

.slide-doughnut .card__img {
	--filters: drop-shadow(0 0 0.5rem var(--clr-1a-solid));
}

.slide-doughnut .grid-x {
	--gap-x: 5vw;
	--gap-y: 5vw;
}

.slide-doughnut .cards:nth-of-type(1) > * {
	--img-h: 25rem;
}

.slide-doughnut .ttl-box {
	--col: 3;
	--x: 1;
}

.txt-col-x {
	--col: 2;
	--gap: 3rem;
	--shrink: 0.4;
}
