.slide-11 .slide-bg {
	--w: auto;
	--h: 80%;
	--side: var(--center);
	--overlay: linear-gradient(
		-90deg,
		hsl(0, 0%, 0%, 0.2) 10%,
		hsl(0, 0%, 0%, 0.8) 90%
	);
	--image: url(/images/demo-3.webp);
}

.slide-11 .grid-x {
	--gap-x: 5vw;
	--gap-y: 5vw;
}

.slide-11 .cards:nth-of-type(1) > * {
	--img-h: 25rem;
}

.txt-col-x {
	--col: 2;
	--gap: 3rem;
	--shrink: 0.4;
}
