.slide-bg {
	--image: url(/images/demo-1.webp);
}
.slide-bg::before {
	background-position: 80%;
}

.slide-content {
	margin-top: calc(
		var(--swiper-pagination-height) - var(--swiper-pagination-bottom)
	);
	display: grid;
	gap: var(--heading-bottom-indent);
	align-items: center;
	grid-auto-rows: min-content;
}
