.slide-2 .slide-bg,
.slide-2 .slide-bg-overlay {
	--side: var(--left);
	--clip: var(--clp-left);
	--clr-filter: rgba(26, 22, 108, 0.2);

	--image: url(/images/group-trucks-parked-row.webp);
	--overlay: var(--overlay-1);
	--tint: var(--tint-2);
}
.slide-2 .w-img::before {
	filter: invert(1) grayscale(1);
}

.slide-2 .slide-content {
	grid-auto-rows: min-content 1fr;
}

.slide-2 .list {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: 4rem;
	--li-gap-x: 0rem;
	--li-gap-y: 2rem;
}

.slide-2 .slide-content > *:last-child {
	margin-bottom: var(--heading-bottom-indent-x2);
}
