.slide-13 .slide-bg:nth-child(1) {
	--left: -10% auto 0 -10%;
	--side: var(--left);
	--w-inline: max(40%, 10rem);
	--h-inline: unset;
	--radius: 35% 65% 37% 63% / 52% 66% 34% 48%;
	--overlay: var(--lr-light-dark);
	--asp-ratio: 1;
}

.slide-13 .slide-bg:nth-child(2) {
	--bg-clr: var(--clr-1a-solid-invert);
	--right: 40% -7% 0 auto;
	--side: var(--right);
	--w-inline: max(30%, 7rem);
	--h-inline: unset;
	--radius: 64% 36% 46% 54% / 37% 31% 69% 63%;
	--asp-ratio: 1;
}

.slide-13 .slide-bg:nth-child(3) {
	--bg-clr: var(--clr-1b-solid-invert);
	--right: -45% 35% 0 auto;
	--side: var(--right);
	--w-inline: max(10%, 4rem);
	--h-inline: unset;
	--radius: 52% 48% 35% 65% / 48% 69% 31% 52%;
	--asp-ratio: 1;
}

.slide-13 .heading {
	--heading-bg-clr: var(--clr-2b-solid);
	row-gap: 0.25em;
}

.slide-13 .cards {
	--gap-x: 2rem;
	--gap-y: 2rem;
	--shrink: 0.75;
	--gap: 2rem;
}

.slide-13 .cards > *:nth-child(1) .txt-col-x {
	--col: 3;
}

.slide-13 .cards > *:nth-child(2) .txt-col-x {
	--col: 4;
}

.icon-bg:nth-of-type(1) {
	--icon-size-x: 2;
	--icon-bg-clr: var(--clr-2a-solid);
}
.icon-bg:nth-of-type(2) {
	--icon-size-x: 3;
	--icon-bg-clr: var(--clr-1a-solid);
}
.icon-bg:nth-of-type(3) {
	--icon-size-x: 4;
	--icon-bg-clr: var(--clr-2b-solid);
}

/* .slide-13 .slide-content > *:last-child {
	margin-bottom: var(--heading-bottom-indent-x2);
} */
