.slide-13 .slide-bg:nth-child(1) {
	--left: -50% auto 0 50%;
	--side: var(--left);
	--w-inline: max(45%, 10rem);
	--h-inline: unset;
	--overlay: var(--lr-light-dark);
	--tint: var(--clr-1a-solid);
	--bg-blend-mode: luminosity, overlay;
}

.slide-13 .slide-bg:nth-child(2) {
	--left: 60% 60% 0 auto;
	--side: var(--left);
	--w-inline: max(35%, 7rem);
	--h-inline: 60%;
	--overlay: var(--lr-dark-light);
	--tint: var(--clr-2b-solid);
	--bg-blend-mode: luminosity, overlay;
	--image: url(/images/demo-3.webp);
}

.slide-13 .slide-bg:nth-child(3) {
	--bg-clr: var(--clr-1b-solid-invert);
	--left: 75% 15% 0 auto;
	--side: var(--left);
	--w-inline: max(10%, 4rem);
	--h-inline: unset;
	--transform: rotate(45deg);
	--asp-ratio: 1;
}

.slide-13 .slide-content > *:last-child {
	margin-bottom: var(--heading-bottom-indent-x2);
}

.slide-13 .cards {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: 2rem;
	--li-gap-x: 2.25rem;
	--li-gap-y: 2rem;
	--sphere: var(--sphere-2b);
}

.slide-13 .cards:nth-of-type(2) {
	--col: 1;
}

.slide-13 .heading {
	--heading-bg-clr: var(--clr-2b-solid);
	row-gap: 0.25em;
}

.slide-13 .cards > *:nth-child(1) .txt-col-x {
	--col: 3;
	--gap: 2rem;
}

.slide-13 .cards > *:nth-child(2) .txt-col-x {
	--col: 4;
	--gap: 2rem;
}
