.__slide-advantages .slide-bg {
	--image: url(/images/rubik-0.svg);
	--side: 0;
	--w: 100%;
	--bg-size: auto;
	--overlay: linear-gradient(hsl(0, 0%, 0%, 0.4) 0%, hsl(0, 0%, 0%, 0.4) 100%);
	--underlay: repeating-linear-gradient(
		-80deg,
		hsl(var(--clr-2b), 1) 0,
		hsl(var(--clr-2b), 1) 50%,
		hsl(var(--clr-1a), 1) 50%,
		hsl(var(--clr-1a), 1) 100%
	);
}

.__slide-advantages .flex-x {
	--col: 2.5;
	--justify: space-around;
	--grow: 0;
	--gap-x: 6em;
	--gap-y: var(--gap-x);

	margin-bottom: var(--gap-x);
}

.__slide-advantages .slide-ttl {
	--gap-x: 0.75em;
	--gap-y: 0.5em;
	--col: 5;
	--x: 3;

	margin-bottom: 6rem;
}

.__slide-advantages .plain-list {
	--gap-x: var(--img-size);
	--gap-y: 1.5em;
	--img-size: min(3em, 3vw + 1em);
	--img-place: center;

	row-gap: var(--img-size);
}

.__slide-advantages .__demo-pic-1 {
	--filters: drop-shadow(0 0 2rem hsl(var(--clr-1b)));
	--img-h: 10rem;

	margin-top: 3rem;
}

@keyframes slide-bg-img {
	0% {
		background-position: center 0%;
	}
	100% {
		background-position: center 100%;
	}
}
