.slide-6 .slide-bg,
.slide-6 .slide-bg-overlay {
	--w: var(--w-block);
	--h: var(--h-block);
	--tilt-base: -25%;
	--trend-base: 90%;

	--image: url(/images/demo-4.webp);
}

.slide-6 .slide-bg:nth-child(2):before {
	background-position: center 20%;
}

.slide-6 .slide-bg,
.slide-6 .slide-bg-overlay {
	--side: var(--bottom);
	--clip: var(--clp-bottom);
}

.slide-6 .slide-bg:nth-child(1),
.slide-6 .slide-bg-overlay:nth-child(1) {
	--side: var(--top);
	--clip: var(--clp-top);

	--image: url(/images/wave-square-top-1.svg) !important;
}

.slide-6 .slide-bg:nth-child(2),
.slide-6 .slide-bg-overlay:nth-child(2) {
	/* --overlay: var(--lr-dark-light); */
}

.slide-6 .slide-body {
	--col: 4;
	--x: 3;
	--gap-x: 2rem;
	--gap-y: 2rem;

	z-index: 1;
	background-color: var(--clr-0a-solid);
	border-radius: 8px;
	place-self: start center;
	padding: 2rem;
}

.slide-6 .slide-body > * {
	aspect-ratio: 1;
}
