.__slide-video .slide-bg:nth-child(1) {
	--image: url(/images/demo-1-xl.webp);
	--left: -50% auto 0 50%;
	--side: var(--left);
	--w: max(45%, 10rem);
	--overlay: repeating-linear-gradient(
		90deg,
		hsla(0, 0%, 0%, 0) 0,
		hsla(0, 0%, 0%, 0.15) 10%,
		hsla(0, 0%, 0%, 0.15) 10%,
		hsla(0, 0%, 0%, 0.3) 20%
	);
	--tint: hsl(var(--clr-1a));
	--img-blends: luminosity, overlay;
}

.__slide-video .slide-bg:nth-child(2) {
	--left: 60% 60% 0 auto;
	--side: var(--left);
	--w: max(35%, 7rem);
	--overlay: linear-gradient(
		0deg,
		hsl(0, 0%, 0%, 0.2) 20%,
		hsl(0, 0%, 0%, 0.8) 90%
	);
	--tint: hsl(var(--clr-2b));
	--img-blends: luminosity, overlay;
	--image: url(/images/demo-6-sm.webp);
}

.__slide-video .nonagon {
	--left: 75% 35% 0 auto;
	--side: var(--left);
	--w: max(7%, 4rem);
	--transform: rotate(45deg);

	--image: url(/images/demo-bg-1.svg);
	--underlay: linear-gradient(
		40deg,
		hsl(var(--clr-2b), 1) 10%,
		hsl(var(--clr-1a), 1) 60%
	);

	--filters: invert(1) brightness(1.15) saturate(1.15);
}

.__slide-video .slide-ttl {
	--gap-x: 0.5em;
	--gap-y: 0.25em;
	--col: 3;
	--x: 1;
}

.__slide-video .cards {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: var(--gap-x);

	margin-block: 4rem;
}

.__slide-video .cards .unit {
	--gap-x: 1em;
	--gap-y: 0.5em;
}

.__slide-video .img-box {
	--asp: 16 / 9;
	--img-h: auto;
}
