.__slide-table {
	--gap-y: 3rem;
	--gap-x: 3rem;
	--col: 3;
	--x: 3;
}

.__slide-table .slide-bg {
	--side: var(--right);
	--clip: var(--clp-right);
}

.__slide-table .slide-content {
	place-items: start stretch;
}

.__slide-table .grid-x {
	grid-auto-rows: minmax(15rem, 1fr);
}

.__slide-table picture {
	grid-area: 1 / 1;
}

.__slide-table .unit {
	--img-size: 1.5em;
	--gap-x: 1em;
	--gap-y: 0.5em;
}

.__slide-table .o-fit-cover {
	--pos: left top;
}

.__slide-table .__icons-box {
	--img-h: min(3rem, 10vw);

	grid-area: 1 / 1;
	place-self: center;
	display: flex;
	gap: 0.5rem;
	filter: drop-shadow(0.15rem 0.15rem 0.15rem hsla(0, 0%, 0%, 0.5));
}

.__slide-table .arrow-down,
.__slide-table .arrow-right {
	--img-place: center;
	--img-size: min(1.5rem, 5vw);
	--min-arrow-length: var(--img-size);
}

.__slide-table .__table-box {
	overflow: auto;
	overscroll-behavior: contain;
}

.__slide-table .tbl {
	--place-head: center;
}
