.slide-1 .slide-bg {
	--side: 0;
	--w: 100%;
	--overlay: var(--lr-dark-light);
	--tint: var(--clr-1a-solid);
}

.slide-1 .slide-content {
	grid-auto-rows: min-content 1fr min-content;
}

.slide-1 .heading {
	--x: 3;
	--col: 7;
}

.slide-1 .cards-w-icons {
	--col: 4;
	--gap-x: 2rem;
	--gap-y: 4rem;
	--li-gap-x: 2.25rem;
	--li-gap-y: 2rem;
}

.slide-ribbon {
	position: relative;
	padding-block: 1em;
	place-self: end;
	color: var(--clr-0a-solid);
	isolation: isolate;
}
.slide-ribbon::before {
	position: absolute;
	content: "";
	inset: 0 -1000% 0 0;
	z-index: -1;
	background-color: var(--clr-1b-solid);
	transform: skew(-30deg) translateX(-2em);
	box-shadow: -0.25rem -0.25rem 0.5rem 0.25rem hsla(0, 0%, 0%, 0.15);
}
