.__slide-doughnut .slide-bg {
	--image: url(/images/demo-3-xl.webp);
	--w: auto;
	--h: 80%;
	--side: var(--center);
	--overlay: linear-gradient(
		-90deg,
		hsl(0, 0%, 0%, 0.2) 10%,
		hsl(0, 0%, 0%, 0.8) 90%
	);
	--pos: 100%;
}

.__slide-doughnut .slide-body {
	--col: 2;
	--gap-x: 5vw;
	--gap-y: var(--gap-x);
	--card-gap: 3rem;
}

.__demo-chart {
	--img-h: 22rem;
}

.__slide-doughnut .txt-col-x {
	--col: 2;
	--gap: 3rem;
	--shrink: 0.4;
}

.__slide-doughnut .__bottom-pic {
	--filters: drop-shadow(0 0 0.5rem hsl(var(--clr-1a)));
	--img-h: 10rem;

	margin-bottom: 4em;
}

.__right-col-heading {
	--img-size: 3rem;
	--gap-x: 1em;

	margin-bottom: 2em;
}

.__slide-doughnut .plain-list {
	--gap-x: 1em;
}

.__slide-doughnut .arrow-right {
	--img-size: 1rem;
	--min-arrow-length: calc(var(--img-size) * 1.5);
	--img-place: center;
}
