.__slide-video .slide-bg:nth-child(1) {
	--image: url(/images/demo-1-xl.webp);
	--left: -50% auto 0 50%;
	--side: var(--left);
	--w: max(45%, 10rem);
	--overlay: repeating-linear-gradient(
		90deg,
		hsla(0, 0%, 0%, 0) 0,
		hsla(0, 0%, 0%, 0.15) 10%,
		hsla(0, 0%, 0%, 0.15) 10%,
		hsla(0, 0%, 0%, 0.3) 20%
	);
	--tint: var(--clr-1a-solid);
	--img-blends: luminosity, overlay;
}

.__slide-video .slide-bg:nth-child(2) {
	--left: 60% 60% 0 auto;
	--side: var(--left);
	--w: max(35%, 7rem);
	--overlay: linear-gradient(
		0deg,
		hsl(0, 0%, 0%, 0.2) 20%,
		hsl(0, 0%, 0%, 0.8) 90%
	);
	--tint: var(--clr-2b-solid);
	--img-blends: luminosity, overlay;
	--image: url(/images/demo-6-sm.webp);
}

.__slide-video .slide-bg:nth-child(3) {
	--bg: var(--clr-1b-solid);
	--left: 75% 15% 0 auto;
	--side: var(--left);
	--w: max(10%, 4rem);
	--transform: rotate(45deg);
}

.__slide-video .slide-ttl {
	--gap-x: 0.5em;
	--gap-y: 0.25em;
	--col: 3;
	--x: 1;
	--clr: var(--clr-2b-solid);
}

.__slide-video .cards {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: var(--gap-x);
}

.__slide-video .cards .unit {
	--gap-x: 1em;
	--gap-y: 0.5em;
}

.__slide-video .img-box {
	--asp: 16 / 9;
	--img-h: auto;
}

.__slide-video .side-ribbon {
	--place: var(--top-left);
	--move-ribbon: var(--left);
}
