.slide-4 .slide-bg {
	--bg-clr: var(--clr-1a-solid-invert);
	--side: var(--left);
	--clip: var(--clp-left);
}

.slide-4 .heading {
	row-gap: 0.25em;
}

.slide-4 .cards {
	--gap-x: 2rem;
	--gap-y: 6rem;
}
.slide-4 .cards:nth-of-type(1) {
	--col: 3;
}
.slide-4 .cards:nth-of-type(2) {
	--col: 2;
}

.slide-4 .cards > *:nth-child(3) {
	--pos: 85%;
}
.slide-4 .cards > *:nth-child(4) {
	--pos: center 100%;
}
.slide-4 .cards > *:nth-child(5) {
	--pos: 80%;
}
.slide-4 .cards > *:nth-child(6) {
	--pos: 100%;
}
.slide-4 .cards > *:nth-child(8) {
	--pos: 100%;
}

.slide-4 .overlay {
	--clr-filter: hsl(175, 85%, 30%, 0.25);
}

.slide-4 .filter {
	filter: grayscale(1) contrast(1.5);
}

/* --- */
/* .slide-4 .cards:last-of-type .corners-1,
.slide-4 .cards:last-of-type .corners-2 {
	--clr: var(--clr-1b-solid);
} */

/* --- */
.slide-4 .txt-icon:nth-of-type(1) {
	--size-x: 4;
	--bg: var(--clr-2b-solid);
}
.slide-4 .txt-icon:nth-of-type(2) {
	--size-x: 3;
	--bg: var(--clr-1b-solid);
}
.slide-4 .txt-icon:nth-of-type(3) {
	--size-x: 2;
	--bg: var(--clr-2a-solid);
}

.slide-4 .txt-col-x {
	--col: 3;
	--gap: var(--card-gap);
	--shrink: 0.75;
}
