.__slide-diag-bg .slide-bg,
.__slide-diag-bg .slide-bg-overlay {
	--side: var(--center);
	--clip: var(--clp-right);
	--image: url(/images/demo-4.webp);
	--filters: invert(1) grayscale(1) contrast(0.85) brightness(1.25);
	--pos: 20%;
	--clr-filter: hsl(100, 100%, 50%, 0.1);
}

.__slide-diag-bg .flex-space-x > .width-x {
	--col: 3;
	--x: 1;

	display: grid;
	gap: var(--heading-bottom-indent);
}

.__slide-diag-bg .slide-ttl {
	--gap-x: 0.5em;
	--gap-y: 0.25em;
	--col: 3;
	--x: 1;
	--sphere: var(--sphere-2b);
}
