.__slide-yandex-map .slide-bg,
.__slide-yandex-map .slide-bg-overlay {
	--side: var(--right);
	--clip: var(--clp-right);
	--overlay: linear-gradient(
		-90deg,
		hsl(0, 0%, 0%, 0.1) 0%,
		hsl(0, 0%, 0%, 0.7) 70%
	);
	--image: url(/images/demo-5-xl.webp);
	--pos: 60%;
}
.__slide-yandex-map .slide-bg:first-child,
.__slide-yandex-map .slide-bg-overlay:first-child {
	--left: 0 auto 0 -19%;
	--side: var(--left);
	--clip: var(--clp-left);
}

.__slide-yandex-map .slide-ttl .unit__img {
	--img-h: 1.6em;
}

.__slide-yandex-map .cards {
	--img-h: min(25rem, 100vw - 2rem);
	--gap-y: 0.5em;
	--place: center;

	margin-block: 3rem;
}

.__slide-yandex-map .card {
	grid-auto-columns: var(--img-h);
}

.__slide-yandex-map .plain-list {
	--img-size: 2rem;
	--img-place: center;
	--gap-x: 0.75em;
	--gap-y: 0.25em;

	row-gap: 1.5em;
}
