.slide-typography .slide-bg,
.slide-typography .slide-bg-overlay {
	--w-inline: max(50%, 10rem);
	--side: var(--left);
	--mask: var(--clp-left);
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.33) 0%,
		hsl(0, 0%, 0%, 0.66) 50%
	);
	--tint: var(--clr-1b-solid);
}

.slide-typography .slide-body {
	--col: 4;
	--x: 3;

	place-self: start center;
}

.slide-typography .ttl-box {
	--col: 3;
	--x: 1;
}

.slide-typography .cards_arrows_odd_rl {
	--gap-x: 6rem;
	--gap-y: 3rem;
	--img-h: 5rem;
}

.cards_arrows_odd_rl > *:nth-child(2n-1) {
	--bg: var(--clr-1b-solid);

	--sphere: var(--sphere-2c-1a);
	--head-bg-clr: var(--clr-1b-alpha);
}
.cards_arrows_odd_rl > *:nth-child(2n) {
	--bg: var(--clr-1a-solid);
	--sphere: var(--sphere-1b);
	--head-bg-clr: var(--clr-1a-alpha);
}

.slide-typography .card__body > *:not(:last-child) {
	margin-bottom: 0.33rem;
}
