.slide-2 .slide-bg,
.slide-2 .slide-bg-overlay {
	--side: var(--left);
	--clip: var(--clp-left);
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.1) 0%,
		hsl(0, 0%, 0%, 0.7) 70%
	);
	--tint: var(--clr-2b-solid);
	--image: url(/images/demo-3.webp);
	--filters: invert(1) grayscale(0.5) contrast(0.75);
	--bg-pos: 80%;
}

.slide-2 .heading {
	--heading-bg-clr: var(--clr-2b-solid);
}

.slide-2 .list-w-ribbons {
	--col: 3;
	--gap-x: 4rem;
	--gap-y: 4rem;
	--li-gap-x: 0rem;
	--li-gap-y: 2rem;
	--ribbon-clr-alpha: var(--clr-2b-alpha);
	--sphere: var(--sphere-2c-1a);
}

.slide-2 .list-w-ribbons {
	--sphere: var(--sphere-2c-1a);
}

.slide-2 .slide-content > *:last-child {
	margin-bottom: var(--heading-bottom-indent-x2);
}
