.slide-1 {
	color: var(--clr-0-100-solid);
}

.slide-1__bg {
	filter: grayscale(50%) contrast(50%);
}

.slide-1__layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slide-1__top-group {
	display: grid;
	grid-template-columns: 1rem 1fr;
	grid-template-rows: repeat(2, min-content);
	gap: 3rem;
}
.slide-1__top-group::before {
	content: "";
	background-color: var(--clr-1-500-solid);
}

h1 {
	--x: 2;
	--col: 3;

	color: var(--clr-0-100-solid);
	font-weight: var(--fw-sb);
}

.our-solution {
	position: relative;
	padding-block: 1.5rem 1.25rem;
	align-self: end;
	text-transform: uppercase;
	font-weight: var(--fw-lt);
	line-height: 1;
}
.our-solution::before {
	position: absolute;
	content: "";
	inset: 0 -1000% 0 0;
	z-index: -1;
	background-color: var(--clr-1-500-solid);
	transform: skew(-30deg) translateX(-3rem);
}
