.slide-bg {
	--image: url(/images/demo-1.webp);
	--bg-pos: 90%;
}

.slide-content {
	margin-top: calc(
		var(--swiper-pagination-height) - var(--swiper-pagination-bottom)
	);
	display: grid;
	gap: var(--heading-bottom-indent);
	align-items: center;
	grid-auto-rows: min-content;
}
