.slide-5 .slide-bg,
.slide-5 .slide-bg-overlay {
	--side: var(--right);
	--clip: var(--clp-right);

	--image: url(/images/bg-1.webp);
	--overlay: var(--overlay-2);
	--tint: var(--tint-2);
}

.slide-5 .slide-bg:first-child,
.slide-5 .slide-bg-overlay:first-child {
	--left: 0 auto 0 -19%;
	--side: var(--left);
	--clip: var(--clp-left);
}
