.__slide-typography .slide-bg,
.__slide-typography .slide-bg-overlay {
	--w-inline: max(50%, 10rem);
	--side: var(--left);
	--mask: var(--clp-left);
	--overlay: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.33) 0%,
		hsl(0, 0%, 0%, 0.66) 50%
	);
	--tint: var(--clr-1b-solid);
}

.__slide-typography .slide-ttl {
	--gap-x: 0.5em;
	--gap-y: 0.25em;
	--col: 4;
	--x: 1;
}

.__slide-typography .flex-space-x > .width-x {
	--col: 3;
	--x: 1;
}

.__typo-list {
	--gap-x: min(5em, 7vw + 1em);
	--gap-y: 3em;
	--img-size: var(--gap-x);
	--img-place: center;
}
.__typo-list .unit {
	--gap-x: min(2em, 2vw + 1em);

	grid-auto-rows: min-content 1fr;
}

.__typo-list > *:nth-child(1) {
	--clr: var(--clr-1b-solid);
}
.__typo-list .arrow-left {
	--clr: var(--clr-1b-alpha);
}

.__typo-list > *:nth-child(2) {
	--sphere: var(--sphere-1b);
	--clr: var(--clr-1a-solid);
}
.__typo-list .arrow-right {
	--clr: var(--clr-1a-alpha);
}

.__typo-list .unit__body {
	display: grid;
	row-gap: 0.5rem;
}
.__typo-list > *:nth-child(1) .unit__body {
	place-items: center end;
}
.__typo-list > *:nth-child(2) .unit__body {
	place-items: center start;
}
