.demo-cards .slide-bg {
	--bg: var(--clr-1a-solid-invert);
	--side: var(--left);
	--clip: var(--clp-left);
}

.demo-cards .ttl-box {
	--col: 3;
	--x: 1;
}

.demo-cards .cards:not(.cards_plain-list) {
	--gap-x: 2rem;
	--gap-y: 6rem;
}
.demo-cards .cards:nth-of-type(1) {
	--col: 3;
}
.demo-cards .cards:nth-of-type(2) {
	--col: 2;
}

.demo-cards .txt-col-x {
	--gap: calc(var(--card-gap) * 3);
	--shrink: 0.75;
}

.demo-cards .filters {
	--filters: drop-shadow(0 0 0.75rem var(--clr-1a-solid));
}

.demo-cards canvas {
	background-color: var(--clr-0a-solid);
}
