.slide-4 .slide-bg {
	--slide-bg-clr-invert: var(--clr-1a-solid-invert);
	--side: var(--left);
	--clip: var(--clp-left);
}

.slide-4 .slide-content > *:last-child {
	margin-bottom: var(--heading-bottom-indent-x2);
}

.slide-4 .cards {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: 4rem;
	--li-gap-x: 2.25rem;
	--li-gap-y: 2rem;
}

.slide-4 .heading {
	row-gap: 0.25em;
}

.slide-4 .overlay {
	--clr-filter: hsla(175, 85%, 30%, 0.25);
}

.slide-4 .filter {
	filter: grayscale(1) contrast(1.5);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| ribbon */
.ribbon-rounded-neg-right {
	--f: 0.4em; /* control the folded part */
	--r: 0.8em; /* control the cutout */

	position: absolute;
	border: solid #0000;
	border-width: 0 calc(2 * var(--f)) var(--r) 0;
	background: radial-gradient(50% 100% at bottom, #0005 98%, #0000 101%) 100% 0 /
		calc(2 * var(--f)) var(--f) no-repeat border-box;
	background-color: var(--clr-2b-solid);
	border-radius: var(--f) var(--f) 0 0;
	clip-path: polygon(
		100% 0,
		0 0,
		0 100%,
		calc(50% - var(--f)) calc(100% - var(--r)),
		calc(100% - 2 * var(--f)) 100%,
		calc(100% - 2 * var(--f)) var(--f),
		100% var(--f)
	);

	z-index: 1;
	padding: 1em;
	width: min-content;
	height: min-content;
	inset: calc(-1 * var(--f)) 1rem auto auto !important;
	color: var(--clr-0a-solid);
}
