.__slide-grid-system .slide-bg {
	--image: url(/images/demo-3-xl.webp);
	--side: 0;
	--w: 100%;
	--overlay: linear-gradient(
		90deg,
		hsla(0, 0%, 0%, 0.75) 0%,
		hsla(0, 0%, 0%, 0.75) 100%
	);
	--tint: hsla(250, 70%, 40%, 0.5);
}

.__slide-grid-system .slide-ttl {
	--col: 3;
	--x: 1;
}

.__slide-grid-system .slide-content {
	--gap-y: 4rem;

	grid-auto-rows: min-content;
	margin-bottom: 6rem;
}
