.__slide-diamonds-bg .polygon-13 {
	--left: -30% auto 0 5%;
	--side: var(--left);
	--w: max(26%, 10rem);
	--image: url(/images/demo-5-xl.webp);
	--underlay: url(/images/demo-bg-1.svg),
		linear-gradient(
			70deg,
			hsl(var(--clr-2a), 0.75) 20%,
			hsl(var(--clr-2b), 0.75) 95%
		);
	--img-blends: luminosity, overlay;
	--pos: 80%;
}

.__slide-diamonds-bg .polygon-11 {
	--right: 50% 5% 0 auto;
	--side: var(--right);
	--w: max(18%, 7rem);
	--image: url(/images/demo-4-xl.webp);
	--underlay: url(/images/demo-bg-1.svg), url(/images/demo-bg-1.svg),
		linear-gradient(
			-30deg,
			hsl(var(--clr-1a), 0.75) 20%,
			hsl(var(--clr-1b), 0.75) 80%
		);
	--img-blends: luminosity, overlay;
	--pos: 30%;
}

.__slide-diamonds-bg .polygon-9 {
	--right: -45% 35% 0 auto;
	--side: var(--right);
	--w: max(10%, 4rem);
	--image: url(/images/demo-6-sm.webp);
	--underlay: url(/images/demo-bg-1.svg), url(/images/demo-bg-1.svg),
		linear-gradient(
			-30deg,
			hsl(var(--clr-1b), 0.75) 20%,
			hsl(var(--clr-2b), 0.75) 80%
		);
	--img-blends: luminosity, overlay;
	--pos: 20%;
}

/* --- */
.__slide-diamonds-bg td,
.__slide-diamonds-bg tbody th {
	padding: 0;
}

.__slide-diamonds-bg table .unit {
	--place-items: center;
}

.cell-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.cell-item > * {
	display: grid;
	place-items: center;
	padding: var(--indent);
}
.cell-item > *:nth-child(2) {
	border-left: var(--thickness) solid var(--clr-txt--lt);
}

.svet-input {
	width: 100%;
	height: 100%;
	font-size: inherit;
	border: none;
	background: none;
	text-align: center;
}

.svet-btn {
	width: 100%;
	height: 100%;
	padding: var(--indent) calc(var(--indent) * 2);
	font-weight: inherit;
	line-height: inherit;
}

.svet-btn:focus-visible {
	background-color: hsl(var(--clr-1b), 1);
}
