.slide-10 .slide-bg,
.slide-10 .slide-bg-overlay {
	--w-inline: max(15%, 10rem);
	--tilt-base: 40%;
	--trend-base: 15%;
}

.slide-10 .slide-bg:nth-child(1),
.slide-10 .slide-bg-overlay:nth-child(1) {
	--side: var(--left);
	--clip: var(--clp-left);
	--overlay: var(--lr-dark-light);
	--tint: var(--tint-2);
}

.slide-10 .slide-bg:nth-child(2) {
	--side: var(--right);
	--clip: var(--clp-right);
	--image: url(/images/low-poly-grid-haikei.svg) !important;
}
.slide-10 .slide-bg:nth-child(2)::before {
	background-position: center;
}
