.__slide-title-slide .slide-bg {
	--image: url(/images/demo-1-xl.webp);
	--side: 0;
	--w: 100%;
	--overlay: linear-gradient(
		-90deg,
		hsl(0, 0%, 0%, 0.4) 0%,
		hsl(0, 0%, 0%, 0.8) 100%
	);
	--tint: hsl(var(--clr-1a));
}

.__slide-title-slide .slide-bg-overlay {
	--side: var(--left);
	--clip: var(--clp-left);
	--clr-filter: hsl(var(--clr-1b));
	--overlay-blends: overlay;
}

.__slide-title-slide .slide-content {
	grid-auto-rows: min-content 1fr min-content;
}

.__slide-title-slide .slide-ttl {
	--gap-x: 0.5em;
	--gap-y: 0.25em;
	--col: 5;
	--x: 3;
}

.__first-slide-list {
	--col: 4;
	--gap-x: 1.5em;
	--gap-y: 6rem;
	--img-size: 4em;
}
.__first-slide-list .unit {
	--gap-y: 1.5rem;
}

.__slide-title-slide .slide-ribbon {
	position: relative;
	padding-block: 1em;
	place-self: end;
	color: hsl(var(--clr-0a));
	isolation: isolate;
}
.__slide-title-slide .slide-ribbon::before {
	position: absolute;
	content: "";
	inset: 0 -1000% 0 0;
	z-index: -1;
	background-color: hsl(var(--clr-1b));
	transform: skew(-30deg) translateX(-2em);
	box-shadow: -0.25rem -0.25rem 0.5rem 0.25rem hsla(0, 0%, 0%, 0.15);
}
