.__slide-grid-system .slide-bg {
	--image: url(/images/demo-3.webp);
	--side: 0;
	--w: 100%;
	--overlay: linear-gradient(
		90deg,
		hsla(0, 0%, 0%, 0.75) 0%,
		hsla(0, 0%, 0%, 0.75) 100%
	);
	--tint: hsla(250, 70%, 40%, 0.5);
}

.__slide-grid-system .slide-ttl {
	--gap-x: 0.5em;
	--gap-y: 0.25em;
	--col: 3;
	--x: 1;
}
