.slide-3 .slide-bg {
	--side: var(--right);
	--clip: var(--clp-right);
}

.slide-3 .slide-content {
	grid-auto-rows: auto;
}

/* .ribbon-left-top-cutout {
	--f: 0.5rem;
	--r: 1rem;

	position: absolute;
	left: 1rem;
	top: calc(-1 * var(--f));
	background: var(--clr-1-500-solid);
	color: var(--clr-0-100-solid);
	border-left: var(--f) solid #0005;
	border-bottom: var(--r) solid #0000;
	clip-path: polygon(
		var(--f) 0,
		100% 0,
		100% 100%,
		calc(50% + var(--f) / 2) calc(100% - var(--r)),
		var(--f) 100%,
		var(--f) var(--f),
		0 var(--f)
	);
} */

.ribbon-left-bottom-cutout {
	--f: 0.5rem; /* control the folded part*/
	--r: 1rem; /* control the ribbon shape */

	position: absolute;
	bottom: -1.25rem;
	left: calc(-1 * var(--f));
	background: var(--clr-1-500-solid);
	color: var(--clr-0-100-solid);
	border-top: var(--f) solid #0005;
	border-right: var(--r) solid #0000;
	clip-path: polygon(
		0 100%,
		0 var(--f),
		var(--f) 0,
		var(--f) var(--f),
		100% var(--f),
		calc(100% - var(--r)) calc(50% + var(--f) / 2),
		100% 100%
	);
	padding: 0.75em;
	text-transform: none;
	z-index: 1;
}
