.btn-plain {
	color: var(--btn-clr-txt, black);
	background-color: var(--btn-clr-bg, transparent);
	border: var(--btn-border-thickness, 0.1rem) solid var(--btn-clr-border);
	box-shadow: var(--btn-shadow, none);
	border-radius: var(--btn-radius, 0rem);
	font-weight: var(--fw-md);
	padding: var(--btn-p-block, 1em) var(--btn-p-inline, 1.5em);
	line-height: 1;
	transition: color var(--time) var(--easing),
		background-color var(--time) var(--easing),
		border-color var(--time) var(--easing), box-shadow var(--time) var(--easing);
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.btn-plain:where(:hover, :focus-visible) {
	color: var(--btn-clr-txt--focus-hover, var(--btn-clr-txt));
	background-color: var(--btn-clr-bg--focus-hover);
	border-color: var(--btn-clr-border--focus-hover);
	box-shadow: var(--btn-shadow--focus-hover, none);
}

.btn-plain:active {
	color: var(--btn-clr-txt--active);
	background-color: var(--btn-clr-bg--active);
	border-color: var(--btn-clr-border--active);
}

.btn-plain {
	--btn-clr-txt: hsl(var(--clr-0a));
	--btn-clr-bg: hsl(var(--clr-1a));
	--btn-clr-border: hsl(var(--clr-1a));
	--btn-radius: 8px;
	--btn-shadow: 0 0.85em 0.5em -0.5em hsl(var(--clr-1a), 0.25);

	--btn-clr-txt--focus-hover: hsl(var(--clr-1a));
	--btn-clr-bg--focus-hover: hsl(var(--clr-1b));
	--btn-clr-border--focus-hover: hsl(var(--clr-1a));
	--btn-shadow--focus-hover: 0 0.85em 0.5em -0.5em hsl(var(--clr-1b), 0.25);

	--btn-clr-txt--active: hsl(var(--clr-0a));
	--btn-clr-bg--active: hsl(var(--clr-1a));
	--btn-clr-border--active: hsl(var(--clr-1a));
}

.outlined {
	--btn-clr-txt: hsl(var(--clr-1a));
	--btn-clr-bg: transparent;
	--btn-clr-border: hsl(var(--clr-1a));
	--btn-shadow: none;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| btn-glow */
.btn-glow {
	--btn-bg-size: 400% auto;
	--btn-bg-pos: right center;
	--btn-bg-img: linear-gradient(
		to right,
		hsl(var(--clr-1a)) 0%,
		hsl(var(--clr-1a)) 51%,
		hsl(var(--clr-2b)) 76%,
		hsl(var(--clr-1b)) 100%
	);
	--easing: ease-in;
	--time: 0.25s;
	--time-active: 0.1s;

	color: hsl(var(--clr-0a));
	background-size: var(--btn-bg-size, auto);
	background-image: var(--btn-bg-img, none);
	padding: var(--btn-p-block, 1em) var(--btn-p-inline, 1.5em);
	border-radius: 8px;
	transition: background-position var(--time) var(--easing),
		transform var(--time-active) var(--easing);
	transform: scale(1);
	transform-style: preserve-3d;
	display: grid;
	width: 100%;
}

.btn-glow::before {
	--offset-y: 0;
	--spread: 0;
	--blur: 0;

	content: "";
	position: absolute;
	inset: var(--spread);
	background-size: var(--btn-bg-size, auto);
	background-image: var(--btn-bg-img);
	filter: blur(var(--blur));
	transform: translate3d(0px, var(--offset-y), -1px);
	border-radius: inherit;
	pointer-events: none;
	transition: background-position var(--time) var(--easing),
		filter var(--time) var(--easing), transform var(--time) var(--easing),
		inset var(--time) var(--easing);
}

.btn-glow:not(.form-btn):where(:hover, :focus-visible) {
	background-position: var(--btn-bg-pos);
}

.btn-glow:active {
	transform: scale(0.98);
}
.btn-glow:active::before {
	--offset-y: 0.25rem !important;
	--spread: 0.125rem !important;
	--blur: 0.5rem !important;

	transition: filter var(--time-active) var(--easing),
		transform var(--time-active) var(--easing),
		inset var(--time-active) var(--easing);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| form-btn */
.form-btn {
	grid-template-columns: 1rem 1fr 1rem;
	place-items: center;
	column-gap: 0.25rem;
}

.form-btn.unlocked {
	background-position: var(--btn-bg-pos);
}

.form-btn > * {
	grid-column: 2;
}

.form-btn::after {
	background-image: url(/images/icons/lock.svg);
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	width: 100%;
	aspect-ratio: 1;
	grid-column: 3;
	opacity: 0;
	transition: opacity var(--time), transform var(--time);
	transform: scale(2);
}

.form-btn.locked:where(:hover, :focus-visible)::after {
	opacity: 1;
	transform: scale(1);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| btn-glow form-btn */
.btn-glow:not(.form-btn):where(:hover, :focus-visible)::before,
.form-btn.unlocked:where(:hover, :focus-visible)::before {
	--offset-y: 0.75rem;
	--spread: 0.5rem;
	--blur: 1.5rem;

	background-position: var(--btn-bg-pos);
}
