.cards {
	--img-shadow-bottom: 0rem 0.5rem 0.5rem -0.25rem hsl(0, 0%, 0%, 0.25);
	--img-shadow-right: 0.5rem 0rem 0.5rem -0.25rem hsl(0, 0%, 0%, 0.25);

	--img-size: 10rem;
	--img-h: var(--img-size);
	--card-gap: 2em;
}

.card {
	display: grid;
	grid-auto-rows: minmax(var(--img-h), auto) 1fr;
	gap: var(--card-gap);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| card head */
.card__head {
	display: grid;
	position: relative;
	align-items: center;
}

.card__img {
	grid-area: 1 / 1;
	box-shadow: var(--shadow, var(--img-shadow-bottom));
	place-self: center;
}

/* |||||||||| |||||||||| card title */
.card__ttl {
	grid-area: 1 / 1;
	place-self: center;
	padding: 1em;
	z-index: 1;
	pointer-events: none;
}

.card__ttl_bg {
	color: var(--clr-0a-solid);
}
.card__ttl_bg::before {
	position: absolute;
	content: "";
	inset: 0;
	margin: auto;
	max-height: 2em;
	background: linear-gradient(
		to left,
		hsl(0, 0%, 0%, 0) 15%,
		hsl(0, 0%, 0%, 0.6) 33%,
		hsl(0, 0%, 0%, 0.6) 66%,
		hsl(0, 0%, 0%, 0) 85%
	);
	z-index: -1;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| card body */
/* .card__body .card__head {
	min-height: var(--img-h);
	margin-bottom: 1.5em;
}

.card__body .ttl-box {
	margin-bottom: 1rem;
} */

/* |||||||||| |||||||||| |||||||||| |||||||||| x-axis */
.x-axis.card {
	--shadow: var(--img-shadow-right);

	grid-auto-flow: column;
	grid-auto-columns: minmax(var(--img-h), auto) auto;
}

.x-axis .img-box {
	--img-h: 100%;
}

.x-axis .icon-bg {
	--img-w: var(--img-size);
	--img-h: auto;
	--asp: 1;
}

.x-axis.card_triple {
	grid-auto-columns: auto minmax(var(--img-h), auto) auto;
	grid-auto-rows: auto minmax(var(--img-h), auto) auto;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| title side */
.card__head_ttl-side {
	grid-auto-flow: column;
	grid-auto-columns: minmax(var(--img-h), auto) 1fr;
	gap: var(--card-gap);
}
