.demo {
	--gap-x: 1rem;
	--gap-y: 1rem;

	counter-reset: counter;
	height: 100%;
}

.demo > * {
	--grid-item-height: var(--header-height, 4em);

	display: grid !important;
	min-height: var(--heading-bottom-indent);
	font-size: 0.85rem;
	color: hsl(var(--hue), 25%, 50%);
	overflow: hidden;
}

.demo > * > *:not(img, picture) {
	padding: 1rem;
}

.demo + .demo {
	padding-top: 0; /* for parallax slide content */
}

.demo > *::before {
	--bg: hsl(0, 0%, 0%, 0.5);

	font-size: var(--fs-md);
	position: absolute;
	place-self: center;
	content: counter(counter);
	counter-increment: counter;
	min-width: calc(var(--heading-bottom-indent) * 0.75);
	padding: 0.33em;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: hsl(var(--hue), 100%, 50%);
	border-radius: 50%;
	border: var(--border);
	background-color: var(--bg);
	pointer-events: none;
}
.demo.grid-x > *::before {
	content: "grid-x";
}
.demo.flex-x > *::before {
	content: "flex-x";
}
.demo .width-x::before {
	content: "width-x";
}
.demo.gta > *::before {
	content: counter(counter, upper-alpha);
}

.demo .width-x:not(:last-child) {
	margin-bottom: var(--gap-y);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| grid-template-areas */
.gta {
	display: grid;
	gap: var(--gap-x);
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas:
		"b a a a a"
		"b c c g i"
		"b c c h i"
		"b d e h i"
		"b f f f i";
}

.demo.gta > *:nth-child(1) {
	grid-area: a;
}
.demo.gta > *:nth-child(2) {
	grid-area: b;
}
.demo.gta > *:nth-child(3) {
	grid-area: c;
}
.demo.gta > *:nth-child(4) {
	grid-area: d;
}
.demo.gta > *:nth-child(5) {
	grid-area: e;
}
.demo.gta > *:nth-child(6) {
	grid-area: f;
}
.demo.gta > *:nth-child(7) {
	grid-area: g;
}
.demo.gta > *:nth-child(8) {
	grid-area: h;
}
.demo.gta > *:nth-child(9) {
	grid-area: i;
}

@media (width <= 576px) {
	.gta {
		grid-template-columns: 1fr;
		grid-template-areas:
			"a"
			"b"
			"c"
			"d"
			"e"
			"f"
			"g"
			"h"
			"i";
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| masonry */
.demo.masonry {
	grid-auto-rows: var(--heading-bottom-indent);
}

.demo.masonry > * {
	padding: 0;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| masonry */
/* .chess-grid-12 {
	--col: 6;
	--shrink: 0.25;
}

.chess-grid-12 > *:nth-child(3n + 1) {
	grid-column: 1;
}
.chess-grid-12 > *:nth-child(3n + 2) {
	grid-column: 3;
}
.chess-grid-12 > *:nth-child(3n + 3) {
	grid-column: 5;
}
.chess-grid-12 > *:nth-child(6n + 4) {
	grid-column: 2;
}
.chess-grid-12 > *:nth-child(6n + 5) {
	grid-column: 4;
}
.chess-grid-12 > *:nth-child(6n + 6) {
	grid-column: 6;
} */

/* |||||||||| |||||||||| |||||||||| |||||||||| demo colors */
.demo > * {
	--clr-shift: 0;
	--hue: calc(var(--clr-shift) + var(--deg));
	--thickness: 0.1rem;
	--density: 2;
	--transparency: 0.25;
	--border: hsl(var(--hue), 100%, 50%) 0.1rem dotted;

	position: relative;
}
.demo > *::after {
	position: absolute;
	content: "";
	inset: 0;
	border: var(--border);
	background: repeating-linear-gradient(
		-60deg,
		hsl(var(--hue), 100%, 50%, var(--transparency)) 0 var(--thickness),
		transparent var(--thickness) calc(var(--thickness) * var(--density))
	);
	background-clip: padding-box;
	pointer-events: none;
}
.demo > *:nth-child(3n + 1) {
	--deg: 180;
}
.demo > *:nth-child(3n + 2) {
	--deg: 300;
}
.demo > *:nth-child(3n + 3) {
	--deg: 60;
}
.demo > *:where(:hover, :focus-visible) {
	--hue: calc(var(--clr-shift) + var(--deg) + 30);
}
/* .demo > *:focus-visible {
	--hue: calc(var(--clr-shift) + var(--deg) + 270);
}
.demo > *:where(a:active, button:active) {
	--hue: calc(var(--clr-shift) + var(--deg) + 90);
} */
.demo > * > * {
	--deg: 210;
}
