.sign-up-form {
	--clr-fine: hsl(150, 75%, 50%);
	--clr-fail: var(--clr-2b);

	display: grid;
	gap: 1rem;
	color: hsl(var(--clr-1a));
}

.sign-up-form__item {
	position: relative;
}
.sign-up-form__item:first-child {
	display: grid;
	gap: 0.33rem;
}

.input-field {
	--border-thikness: 0.1rem;

	padding: 0.9175em; /* magic number */
	border-radius: 8px;
	width: 100%;
}

.input-field {
	--outline-color: hsl(var(--clr-1b), 0.5);
	--outline-thikness: calc(var(--border-thikness) * 2);
	--outline-offset: calc(
		(var(--outline-thikness) + var(--border-thikness)) * -1
	);

	border: var(--border-thikness) solid hsl(var(--clr-2c));
	background-color: hsl(var(--clr-0a));
	color: hsl(var(--clr-1a));
}
.input-field::placeholder {
	color: hsl(var(--clr-2c));
	opacity: 1;
}
.input-field:where(:hover, :focus-visible) {
	border-color: hsl(var(--clr-1a));
}
.input-field:focus-visible {
	outline: var(--outline-thikness) solid var(--outline-color);
	outline-offset: var(--outline-offset);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| form validation styles */
.labels {
	font-size: var(--fs-xs);
	font-weight: var(--fw-sb);
	position: absolute;
	right: 0;
}
.error-label {
	color: hsl(var(--clr-fail)) !important;
}
.success-label {
	color: var(--clr-fine) !important;
}

.input-field.error-field {
	color: hsl(var(--clr-fail));
	border-color: hsl(var(--clr-fail));
	background-color: hsl(var(--clr-fail), 0.15);
}
.input-field.error-field::placeholder {
	opacity: 0;
}
.input-field.error-field:focus-visible,
.input-field.success-field:focus-visible {
	outline: none;
}

/* form btn styles: components > buttons.css */
