.sign-up-form {
	--success-color-solid: hsl(150, 75%, 50%);
	--error-color-solid: var(--clr-2b-solid);
	--error-color-alpha: var(--clr-2b-alpha);

	display: grid;
	gap: 1rem;
}

.sign-up-form__item {
	position: relative;
}
.sign-up-form__item:first-child {
	display: grid;
	gap: 0.33rem;
}

.input-field {
	--border-thikness: 0.1rem;

	padding: 0.9175em; /* magic number */
	border-radius: 8px;
	width: 100%;
}

.input-field {
	--outline-color: hsl(var(--clr-1b-alpha), 0.5);
	--outline-thikness: calc(var(--border-thikness) * 2);
	--outline-offset: calc(
		(var(--outline-thikness) + var(--border-thikness)) * -1
	);

	border: var(--border-thikness) solid var(--clr-2c-solid);
	background-color: var(--clr-0a-solid);
}
.input-field::placeholder {
	color: var(--clr-2c-solid);
	opacity: 1;
}
.input-field:where(:hover, :focus-visible) {
	border-color: var(--clr-1a-solid);
}
.input-field:focus-visible {
	outline: var(--outline-thikness) solid var(--outline-color);
	outline-offset: var(--outline-offset);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| form validation styles */
.labels {
	font-size: var(--fs-xs);
	font-weight: var(--fw-bd);
	position: absolute;
	right: 0;
}
.error-label {
	color: var(--error-color-solid) !important;
}
.success-label {
	color: var(--success-color-solid) !important;
}

.input-field.error-field {
	color: var(--error-color-solid);
	border-color: var(--error-color-solid);
	background-color: hsl(var(--error-color-alpha), 0.15);
}
.input-field.error-field::placeholder {
	opacity: 0;
}
.input-field.error-field:focus-visible,
.input-field.success-field:focus-visible {
	outline: none;
}

/* form btn styles components > buttons.css */
