.heading {
	--col: 3;
	--x: 1;

	display: grid;
	grid-template-columns: 0.33em 1fr;
	grid-template-rows: repeat(2, min-content);
	column-gap: 0.5em;
	row-gap: 0.5em;
}
.heading::before {
	content: "";
	background-color: var(--heading-bg-clr, var(--clr-1b-solid));
	isolation: isolate;
}
