.nav-links {
	display: flex;
	gap: 1em;
}

.nav-links__link {
	--p-inline: 0.65em;

	padding-inline: var(--p-inline);
	display: inline-flex;
	height: var(--logo-height);
	align-items: center;
}
.nav-links__link {
	position: relative;
}
.nav-links__link:where(:focus-visible, :hover) {
	color: hsl(var(--clr-1b));
}

.nav-links__link::before {
	position: absolute;
	content: "";
	width: 0;
	height: 0.25em;
	background-color: hsl(var(--clr-1b));
	left: 0;
	right: 0;
	bottom: calc(var(--header-bottom) * -1);
	margin-inline: auto;
	transition: width var(--time) var(--easing);
}
.nav-links__link:where(:focus-visible, :hover)::before {
	width: calc(100% - var(--p-inline) * 2);
}
