.icon-bg {
	--img-w: var(--img-h);

	background: var(--bg, none);
	transition: var(--tsn, none);
	border-radius: var(--radius, initial);
	line-height: normal;

	display: grid;
	place-items: center;
	color: var(--clr-0a-solid);
	font-weight: var(--fw-hv);
	font-size: calc(var(--img-h) / 2);
}

.inner-icon {
	padding: 7.5%;
	z-index: 1;
	aspect-ratio: 1;
}

.round {
	--radius: 50%;
}
.sphere {
	--bg: var(--sphere, var(--sphere-1b));
}
.eye {
	--overlay: var(--eye);
}

.txt-icon {
	--unit: calc(var(--fs-rg) * var(--lh-rg));
	--leading: calc(var(--unit) - var(--fs-rg));
	--img-h: calc(var(--unit) * var(--size-x, 3) + var(--leading));

	float: left;
	margin: var(--leading) var(--fs-rg) 0 0;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| material ui icons */
.mui-icon {
	--icon-size: calc(var(--img-w) * 0.75);

	color: var(--clr-0a-solid) !important;
	font-size: var(--icon-size) !important;
	display: grid !important;
	place-items: center;
	z-index: 1;
}

/* |||||||||| |||||||||| |||||||||| */
.contacts-icon {
	--icon-size: calc(var(--img-h) * 0.65);
	--img-h: var(--logo-height);
	--bg: var(--clr-1a-solid);
	--tsn: background-color var(--time);
}
.contacts-icon:where(:hover, :focus-visible) {
	--bg: var(--clr-1b-solid);
}

.phone {
	--content-width: 10em;

	transition: margin-right var(--time);
}
.phone:where(:hover, :focus-visible) {
	margin-right: var(--content-width);
}

.phone::before {
	height: 100%;
	font-family: var(--ff-rg);
	padding-inline: 0;
	content: "+7 (985) 285-66-68";
	background-color: var(--clr-1a-solid);
	color: var(--clr-0a-solid);
	border-radius: 100vw;
	display: grid;
	place-items: center;
	pointer-events: none;
	opacity: 0;
	transition: width var(--time), padding-inline var(--time),
		border-radius var(--time), background-color var(--time), opacity var(--time);
}
.phone:where(:hover, :focus-visible)::before {
	width: var(--content-width);
	padding-inline: 1.5em 0.25em;
	background-color: var(--clr-1b-solid);
	opacity: 1;
}

.phone::after {
	width: var(--logo-height);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| icomoon icons */
.social-icon {
	font-size: var(--logo-height) !important;
	color: var(--clr-1a-solid) !important;
	width: 1em;
	transition: color var(--time);
}
.social-icon:where(:hover, :focus-visible) {
	color: var(--clr-1b-solid) !important;
}

.icon-vk,
.icon-youtube {
	font-size: calc(var(--logo-height) + 2px) !important;
}
