.bg-sphere::before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--sphere, var(--sphere-1b));
	z-index: 1;
}

.bg-eye::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 1;
	background: var(--eye);
}

.icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	padding: 7.5%;
	z-index: 1;
}

.mui-icon {
	color: var(--clr-0a-solid) !important;
	font-size: 75cqw !important;
	display: grid !important;
	place-items: center;
	z-index: 1;
}

.icon-bg {
	--unit: calc(var(--fs-rg) * var(--lh-rg));
	--icon-bg-size: calc(var(--unit) * var(--icon-size-x, 3) + var(--unit) / 3);
	--leading: calc(var(--unit) - var(--fs-rg));

	width: var(--icon-bg-size, 100%);
	aspect-ratio: 1;
	background: var(--icon-bg-clr, var(--clr-1a-solid));
	float: left;
	margin: var(--leading) var(--fs-rg) 0 0;
}
