.icon-bg {
	--img-w: var(--img-h);

	background: var(--clr-solid, none);
	transition: var(--tsn, none);
	border-radius: var(--radius, initial);
	line-height: normal;

	display: grid;
	place-items: center;
	color: hsl(var(--clr-0a));
	font-weight: var(--fw-hv);
}

.inner-icon {
	padding: 7.5%;
	z-index: 1;
	aspect-ratio: 1;
}

.round {
	--radius: 50%;
}

.sphere-1a {
	--clr-solid: var(--sphere-1a);
}
.sphere-1b {
	--clr-solid: var(--sphere-1b);
}
.sphere-2a {
	--clr-solid: var(--sphere-2a);
}
.sphere-2b {
	--clr-solid: var(--sphere-2b);
}
.sphere-2c {
	--clr-solid: var(--sphere-2c);
}

.eye {
	--overlay: var(--eye);
}

.txt-icon {
	--unit: calc(var(--fs-rg) * var(--lh-rg));
	--leading: calc(var(--unit) - var(--fs-rg));
	--img-h: calc(var(--unit) * var(--size-x, 3) + var(--leading));

	float: left;
	margin: var(--leading) var(--fs-rg) 0 0;
}

.txt-icon.size-x2 {
	--size-x: 2;
}
.txt-icon.size-x4 {
	--size-x: 4;
}
.txt-icon.size-x5 {
	--size-x: 5;
}
.txt-icon.size-x6 {
	--size-x: 6;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| material ui icons */
.mui-icon {
	--icon-size: calc(var(--img-w) * 0.75);

	color: var(--clr-solid, var(--clr-0a)) !important;
	font-size: var(--icon-size) !important;
	display: grid !important;
	place-items: center;
	z-index: 1;
}

/* |||||||||| |||||||||| |||||||||| */
.contacts-icon {
	--icon-size: calc(var(--img-h) * 0.65);
	--img-h: var(--logo-height);
	--tsn: background-color var(--time);
}
.contacts-icon:where(:hover, :focus-visible) {
	--clr-solid: hsl(var(--clr-1b)) !important;
}

.phone {
	--content-width: 10em;

	transition: margin-right var(--time);
}
.phone:where(:hover, :focus-visible) {
	margin-right: var(--content-width);
}

.phone::before {
	height: 100%;
	font-family: var(--ff-rg);
	font-weight: var(--fw-sb);
	padding-inline: 0;
	content: "+7 (985) 285-66-68";
	white-space: nowrap;
	background-color: var(--clr-solid, hsl(var(--clr-1a)));
	color: hsl(var(--clr-0a));
	border-radius: 100vw;
	display: grid;
	place-items: center;
	pointer-events: none;
	opacity: 0;
	transition: width var(--time), padding-inline var(--time),
		border-radius var(--time), background-color var(--time), opacity var(--time);
}
.phone:where(:hover, :focus-visible)::before {
	width: var(--content-width);
	padding-inline: 1.5em 0.25em;
	opacity: 1;
}

.phone::after {
	width: var(--logo-height);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| icomoon icons */
.social-icon {
	font-size: var(--logo-height) !important;
	color: var(--clr-solid, hsl(var(--clr-1a))) !important;
	width: 1em;
	transition: color var(--time);
}
.social-icon:where(:hover, :focus-visible) {
	--clr-solid: hsl(var(--clr-1b));
}

.icon-vk,
.icon-youtube {
	font-size: calc(var(--logo-height) + 2px) !important;
}
