.list {
	--marker-size: 4rem;
	--indent-on: 2 / 2;
	--indent-off: 2 / 1 / 2 / -1;
	--indent: var(--indent-off);
	--list-img-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(0, 0, 0, 0.25);

	counter-reset: list-item-counter;
	display: grid;
	grid-auto-rows: min-content;
	/* z-index: 1; */
}

.list > * {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-auto-rows: min-content;
	align-items: center;
	column-gap: var(--li-gap-x, var(--gap-x));
	row-gap: var(--li-gap-y, var(--gap-y));
}

/* |||||||||| |||||||||| |||||||||| |||||||||| li-head bg */
.li-head {
	grid-area: 1 / 2;
	font-weight: var(--fw-rg);
	font-size: var(--fs-rg);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.li-body {
	grid-area: var(--indent);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| list with icons */
.list-w-icns .list-icon {
	min-width: var(--marker-size);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| list with images left */
.list-w-imgs-left {
	--indent: var(--indent-on);
}
.list-w-imgs-left > * {
	height: 100%;
	grid-template-columns: 2fr 3fr;
	grid-auto-rows: min-content 1fr;
	align-items: start;
}
.list-w-imgs-left .img-box {
	grid-column: 1;
	grid-row: 1 / span 2;
	min-width: var(--marker-size);
	min-height: 100%;
	box-shadow: var(--list-img-shadow);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| list with images top */
.list-w-imgs-top > * {
	grid-template-columns: var(--g-temp-c, 1fr);
	grid-auto-rows: 1fr;
	align-items: start;
}
.list-w-imgs-top .img-box,
.list-w-imgs-top .li-head {
	grid-area: 1 / 1;
	height: 100%;
	display: grid;
	place-items: center;
}
.list-w-imgs-top .li-head {
	color: var(--clr-0-100-solid);
	z-index: 1;
}
.list-w-imgs-top .li-body {
	grid-area: auto;
}

.list-w-imgs-top .img-box {
	position: relative;
	box-shadow: var(--list-img-shadow);
}
.list-w-imgs-top .img-box::after {
	position: absolute;
	content: "";
	inset: 0;
	margin: auto;
	max-height: 1.5em;
	background: linear-gradient(
		to left,
		hsla(0, 0%, 0%, 0) 15%,
		hsla(0, 0%, 0%, 0.6) 33%,
		hsla(0, 0%, 0%, 0.6) 66%,
		hsla(0, 0%, 0%, 0) 85%
	);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| list with bg */
.list-w-bg > * {
	background-color: hsl(var(--clr-1-900-alpha), 0.1);
}
.list-w-bg .li-body {
	padding: 0 var(--gap-x) var(--gap-x) var(--gap-x);
}
