.list-w-icons {
	--marker-size: 4rem;
	--indent-on: 2 / 2;
	--indent-off: 2 / 1 / 2 / -1;
	--indent: var(--indent-off);

	display: grid;
	grid-auto-rows: min-content;
}

.list-w-icons > * {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-auto-rows: min-content;
	align-items: center;
	column-gap: var(--li-gap-x, var(--gap-x));
	row-gap: var(--li-gap-y, var(--gap-y));
}

.list-w-icons .li-head {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.list-w-icons .li-body {
	grid-area: var(--indent);
}

.list-w-icons .list-icon {
	min-width: var(--marker-size);
}
