.list {
	--col: 3;
	--gap-x: 2rem;
	--gap-y: 4rem;

	--marker-size: 4rem;
	--indent-on: 2 / 2;
	--indent-off: 2 / 1 / 2 / -1;
	--indent: var(--indent-off);

	counter-reset: list-item-counter;
	display: grid;
	grid-auto-rows: min-content;
	/* z-index: 1; */
}

.list > * {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-auto-rows: min-content;
	align-items: center;
}

/* li-marker */
.list > *::before {
	grid-area: 1 / 1;
	counter-increment: list-item-counter;
	content: counter(list-item-counter);
	line-height: 1;
	min-width: var(--marker-size);
	aspect-ratio: 1;
	font-weight: var(--fw-bd);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--clr-0-100-solid);
	font-size: 2rem;
}

/* li-head bg */
.list > *::after {
	padding: calc(var(--marker-size) / 2);
	content: "";
	grid-area: 1 / 1 / 2 / 3;
	margin-left: var(--marker-size);
}

.li-head {
	grid-area: 1 / 2;
	font-weight: var(--fw-rg);
	font-size: var(--fs-rg);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	/* z-index: -1; */
}

.li-body {
	grid-area: var(--indent);
}

/* --- */
.list-w-arrow > * {
	gap: var(--gap-x) 0;
}

.list-w-arrow > *::before {
	padding-left: 0.75rem;
	clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
	background-color: var(--clr-1-500-solid);
	isolation: isolate;
}
.list-w-arrow > *::after {
	background: linear-gradient(
		to right,
		hsl(var(--clr-1-500-alpha), 1) var(--marker-size),
		hsl(var(--clr-1-500-alpha), 0) 75%,
		transparent 100%
	);
	isolation: isolate;
}
.list-w-arrow .li-body {
	margin-left: 1.25rem;
}
.list-w-arrow .li-head {
	z-index: 1;
	color: var(--clr-0-100-solid);
}

/* --- */
.list-w-icons > * {
	gap: var(--gap-x);
}
.list-w-icons > *::before {
	content: "";
	background-image: url(/images/figure-1.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}
