.ribbon {
	position: relative;
	padding-block: 1em;
	place-self: end;
	color: var(--clr-0-100-solid);
	isolation: isolate;
}
.ribbon::before {
	position: absolute;
	content: "";
	inset: 0 -1000% 0 0;
	z-index: -1;
	background-color: var(--clr-1-500-solid);
	transform: skew(-30deg) translateX(-2em);
	box-shadow: -0.25rem -0.25rem 0.5rem 0.25rem hsla(0, 0%, 0%, 0.15);
}
