.scroll-snap-inline,
.scroll-snap-block {
	--clp-between-inline: polygon(
		0 0,
		calc(100% - 1cqh) 0,
		calc(100% - 1cqh) calc(50% + 1.19cqh),
		100% 50%,
		calc(100% - 1cqh) calc(50% - 1.19cqh),
		calc(100% - 1cqh) 100%,
		0 100%,

		calc(0% - 1cqh) 100%,
		0 calc(50% + 0.04cqh + 1.19cqh),
		calc(1cqh + 0.03cqh) 50%,
		0 calc(50% - 0.04cqh - 1.19cqh),
		calc(0% - 1cqh) 0%
	);

	--clp-first-inline: polygon(
		0 0,
		calc(100% - 1cqh) 0,
		calc(100% - 1cqh) calc(50% + 1.19cqh),
		100% 50%,
		calc(100% - 1cqh) calc(50% - 1.19cqh),
		calc(100% - 1cqh) 100%,
		0 100%
	);

	--clp-last-inline: polygon(
		0 0,
		100% 0,
		100% 100%,

		calc(0% - 1cqh) 100%,
		0 calc(50% + 0.04cqh + 1.19cqh),
		calc(1cqh + 0.03cqh) 50%,
		0 calc(50% - 0.04cqh - 1.19cqh),
		calc(0% - 1cqh) 0%
	);

	/* --- */
	--clp-between-block: polygon(
		0 0,
		100% 0,
		100% calc(100% - 1cqh),
		calc(50% + 1.19cqh) calc(100% - 1cqh),
		50% 100%,
		calc(50% - 1.19cqh) calc(100% - 1cqh),
		0 calc(100% - 1cqh),
		0 0,
		calc(50% - 0.04cqh - 1.19cqh) 0,
		50% calc(1cqh + 0.03cqh),
		calc(50% + 0.04cqh + 1.19cqh) 0
	);

	--clp-first-block: polygon(
		0 0,
		100% 0,
		100% calc(100% - 1cqh),
		calc(50% + 1.19cqh) calc(100% - 1cqh),
		50% 100%,
		calc(50% - 1.19cqh) calc(100% - 1cqh),
		0 calc(100% - 1cqh)
	);

	--clp-last-block: polygon(
		0 0,
		calc(50% - 0.04cqh - 1.19cqh) 0,
		50% calc(1cqh + 0.03cqh),
		calc(50% + 0.04cqh + 1.19cqh) 0,
		100% 0,
		100% 100%,
		0 100%
	);

	display: grid;
	height: 100%;
	width: 100%;
}

.scroll-snap-inline > *,
.scroll-snap-block > * {
	scroll-snap-align: end;
	scroll-snap-stop: always;
	position: relative;
}

/* |||||||||| |||||||||| inline */
.scroll-snap-inline {
	overflow: auto hidden;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	grid-auto-flow: column;
	grid-template-columns: 100%;
	grid-auto-columns: calc(100% - 0.9cqh * 2);
}

.scroll-snap-inline > *:first-child {
	clip-path: var(--clp-first-inline);
	margin-left: 0;
}
.scroll-snap-inline > * {
	clip-path: var(--clp-between-inline);
	margin-left: -0.9cqh;
}
.scroll-snap-inline > *:last-child {
	clip-path: var(--clp-last-inline);
}

/* |||||||||| |||||||||| block */
.scroll-snap-block {
	overflow: hidden auto;
	overscroll-behavior-y: contain;
	scroll-snap-type: y mandatory;
	grid-auto-flow: row;
	grid-template-rows: 100%;
	grid-auto-rows: calc(100% - 0.9cqh * 2);
}

.scroll-snap-block > *:first-child {
	clip-path: var(--clp-first-block);
}
.scroll-snap-block > * {
	clip-path: var(--clp-between-block);
	margin-top: -0.9cqh;
}
.scroll-snap-block > *:last-child {
	clip-path: var(--clp-last-block);
}

/* |||||||||| |||||||||| triangles */
.scroll-snap-inline > *:not(:last-child)::before,
.scroll-snap-block > *:not(:last-child)::before {
	content: "";
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	z-index: 1;
}
.scroll-snap-inline > *:not(:last-child)::before {
	inset: 0 0.2cqh 0 auto;
	margin-block: auto;
	border-width: 1cqh 0 1cqh 0.8cqh;
	border-color: transparent transparent transparent var(--clr-1-500-solid);
}
.scroll-snap-block > *:not(:last-child)::before {
	inset: auto 0 0.2cqh 0;
	margin-inline: auto;
	border-width: 0.8cqh 1cqh 0 1cqh;
	border-color: var(--clr-1-500-solid) transparent transparent transparent;
}
