.sidebar {
	--col: 3;
	--x: 1;
	--sb-border: 1px dotted hsl(var(--clr-0a));
	--clr-bg: hsl(var(--clr-1a));
	--clr-txt: hsl(var(--clr-0a));

	overflow-y: scroll;
	overscroll-behavior: contain;
	max-height: var(--main-height);
	height: min-content;
	position: fixed;
	inset: 0 0 0 auto;
	margin-block: var(--header-height) auto;
	z-index: 2;
	background-color: hsl(var(--clr-1a));
	counter-reset: sidebar-counter;
	translate: var(--width-x);
	display: none;
	box-shadow: 0 0 3rem 0.5rem hsla(0, 0%, 0%, 0.1);
	transition: translate var(--time) var(--easing);
}
.sidebar.isOpen {
	translate: initial;
}

.sidebar > * + * {
	border-top: var(--sb-border);
}

.sidebar-item__ttl {
	position: sticky;
	top: 0;
}

.sidebar-item__btn {
	width: 100%;
	font-family: inherit;
	font-size: var(--fs-rg);
	font-weight: var(--fw-sb);
	color: hsl(var(--clr-1a));
	background-color: hsl(var(--clr-0a));
	cursor: pointer;
	transition: color var(--time) var(--easing);
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	align-items: center;
	text-align: left;
	gap: 0.75em;
	padding-right: 1.5em;
}

.sidebar-item__btn .icon-bg {
	--clr-solid: var(--clr-bg);
	--tsn: background-color var(--time) var(--easing);

	grid-area: 1 / 1;
}

.chevron {
	--size: 1em;
	--clr: hsl(var(--clr-1a));

	stroke: var(--clr);
	width: var(--size);
	min-width: var(--size);
	aspect-ratio: 1;
	transition: stroke var(--time) var(--easing),
		transform var(--time) var(--easing);
}
.chevron-right {
	transform: rotate(-90deg);
}

/* sidebar-item__links */
.sidebar-item__links {
	counter-reset: sidebar-item__counter;
}
.sidebar-item__links > * + * {
	border-top: var(--sb-border);
}

.sidebar-item__link {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: center;
	color: hsl(var(--clr-0a));
	gap: 0.75em;
	padding-right: 1.5em;
}

/* marker */
.marker .mui-icon {
	--icon-size: 4em;
}

.marker::before {
	font-size: 2rem;
	width: 2em;
	grid-area: 1 / 1;
	align-self: stretch;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	transition: background-color var(--time) var(--easing),
		color var(--time) var(--easing);
	font-weight: var(--fw-sb);
	background-color: var(--clr-bg);
	color: var(--clr-txt);
}
.sidebar-item__btn.marker::before {
	counter-increment: sidebar-counter;
	content: counter(sidebar-counter);
}
.sidebar-item__link.marker::before {
	--clr-bg: hsl(var(--clr-0a));
	--clr-txt: hsl(var(--clr-1a));

	counter-increment: sidebar-item__counter;
	content: counter(sidebar-item__counter);
	font-size: 1rem;
	width: 4em;
}

/* active states */
.is-active .chevron {
	--clr: hsl(var(--clr-1b));

	transform: rotateX(180deg);
}

.sidebar-item__btn.marker:where(:focus-visible, :hover)::before,
.sidebar-item__link.marker:where(:focus-visible, :hover)::before,
.sidebar-item__btn:where(:focus-visible, :hover) .icon-bg {
	--clr-bg: hsl(var(--clr-1b));
	--clr-txt: hsl(var(--clr-0a));
}

/* default accordion library styles */
.ac-panel {
	overflow: hidden;
	transition-property: height, visibility;
	transition-timing-function: ease;
}
.ac.js-enabled .ac-panel {
	visibility: hidden;
}
.ac.is-active .ac-panel {
	visibility: visible;
}
