.swiper {
	--swiper-navigation-size: 2rem;
	--swiper-navigation-top-offset: 50%;
	--swiper-navigation-sides-offset: 1rem;
	--swiper-navigation-color: hsl(var(--clr-1a));
	--swiper-pagination-color: hsl(var(--clr-1b));
	--swiper-pagination-bullet-inactive-color: hsl(var(--clr-1a));
	--swiper-pagination-bullet-inactive-opacity: 0.4;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 0.5rem;
	--swiper-pagination-bottom: 1rem;
	--swiper-pagination-bullet-size: 1rem;
	/* --swiper-pagination-bullet-width: 1rem;
	--swiper-pagination-bullet-height: 1rem; */
	/* --swiper-scrollbar-border-radius: 0.75rem;
	--swiper-scrollbar-bottom: 0.275rem;
	--swiper-scrollbar-bg-color: rgba(0, 0, 0, 0);
	--swiper-scrollbar-drag-bg-color: hsl(var(--clr-0a));
	--swiper-scrollbar-size: 0.5rem; */

	/* max-width: calc(100% + var(--gap) * 2);
	padding-inline: var(--gap) !important;
	margin-inline: calc(var(--gap) * -2) !important;
	justify-self: center; */
}
.swiper.main-slider {
	width: 100vw; /* required for chrome */
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
	mix-blend-mode: difference;
	filter: invert(1);
}
.swiper-button-prev,
.swiper-button-next {
	filter: invert(1) brightness(2) contrast(2) saturate(2);
}
.swiper-pagination {
	margin-bottom: -8px;
}

.swiper-slide {
	overflow: hidden; /* required */
}
.swiper-slide:not(.swiper .swiper .swiper-slide) {
	background-color: hsl(var(--clr-0a));
	padding-block: 1rem 3rem;
}
