.tbl {
	--clr-0-light: hsl(var(--clr-0a));
	--clr-0-dark: hsl(var(--clr-0b));
	--clr-1-light: hsl(var(--clr-1a), 0.1);
	--clr-1-dark: hsl(var(--clr-1a), 1);
	--clr-2-light: hsl(var(--clr-1b), 0.1);
	--clr-accent: hsl(var(--clr-1b), 1);
	--table-shadow: 0rem 2rem 2rem -1rem hsl(0, 0%, 0%, 0.25);
	--line: 2px;
	--offset: calc(var(--line) * -1);
	--indent: 0.5rem;
	--inner-radius: 0px;
	--outer-radius: calc(var(--inner-radius) + var(--line));

	border-spacing: var(--line);
	font-size: var(--fs-rg);
	text-align: left;
	background-color: var(--clr-0-light);
	border-bottom-left-radius: var(--outer-radius);
	border-bottom-right-radius: var(--outer-radius);
	box-shadow: var(--table-shadow);
	z-index: 1;
	position: relative;
	overflow: hidden;
	width: 100%;
	table-layout: fixed;
}

.tbl__caption {
	padding: calc(var(--indent) * 2);
	background-color: var(--clr-1-light);
	position: relative;
	border-top-left-radius: var(--inner-radius);
	border-top-right-radius: var(--inner-radius);
}
.tbl__caption::before {
	position: absolute;
	content: "";
	inset: 0;
	background-color: var(--clr-0-light);
	z-index: -1;
	border-top-left-radius: var(--inner-radius);
	border-top-right-radius: var(--inner-radius);
}

.tbl__caption,
.tbl__heading,
.tbl__cell::before {
	font-weight: var(--fw-sb);
	text-transform: uppercase;
}

.tbl__heading {
	text-align: center;
	position: relative;
}
.-col-heading.-even {
	background-color: var(--clr-1-dark);
	color: var(--clr-0-light);
}
.-row-heading.-even {
	background-color: var(--clr-1-light);
	color: var(--clr-txt-1--dk);
}
.-row-heading.-odd {
	background-color: var(--clr-1-dark);
	color: var(--clr-0-light);
}

.tbl__heading,
.tbl__cell {
	padding: var(--indent) calc(var(--indent) * 2);
	background-color: var(--clr-0-light);
	background-clip: padding-box;
}
.tbl__row,
.tbl__cell {
	height: 100%;
	text-align: right;
}
.tbl__row.-odd .tbl__cell {
	background-color: var(--clr-1-light);
}

.tbl__row:last-child > *:first-child {
	border-bottom-left-radius: var(--inner-radius);
}
.tbl__row:last-child > *:last-child {
	border-bottom-right-radius: var(--inner-radius);
}

.-col-heading.-even > *::selection,
.tbl__row.-odd .tbl__heading > *::selection {
	background-color: var(--clr-0-light);
	color: var(--clr-0-dark);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| folding table */
.tbl.-fold .clr-accent,
.tbl.-fold .tbl__heading:not(.-col-heading:first-child):hover {
	background-color: var(--clr-accent) !important;
	color: var(--clr-0-light) !important;
}
.tbl.-fold .clr-accent::before,
.tbl.-fold .clr-accent::after,
.tbl.-fold .tbl__heading::before,
.tbl.-fold .tbl__heading::after {
	position: absolute;
	content: "";
	background-color: var(--clr-accent);
}
.tbl.-fold .tbl__head .clr-accent::before,
.tbl.-fold .-col-heading:not(.-col-heading:first-child):hover::before {
	top: calc(100% + var(--line));
	left: var(--offset);
	height: 9999%;
	width: var(--line);
}
.tbl.-fold .tbl__head .clr-accent::after,
.tbl.-fold .-col-heading:not(.-col-heading:first-child):hover::after {
	top: calc(100% + var(--line));
	right: var(--offset);
	height: 9999%;
	width: var(--line);
}

.tbl.-fold .tbl__body .clr-accent::before,
.tbl.-fold .tbl__body .tbl__heading:hover::before {
	bottom: var(--offset);
	left: calc(100% + var(--line));
	height: var(--line);
	width: 9999%;
}

.tbl.-fold .tbl__body .clr-accent::after,
.tbl.-fold .tbl__body .tbl__heading:hover::after {
	top: var(--offset);
	left: calc(100% + var(--line));
	height: var(--line);
	width: 9999%;
}

.tbl.-fold .tbl__body .tbl__cell.clr-accent::before,
.tbl.-fold .tbl__body .tbl__cell.clr-accent::after {
	width: 0;
}

.tbl.-fold .tbl__body .tbl__cell.clr-accent,
.tbl.-fold .clr-accent {
	outline: var(--line) solid var(--clr-0-light);
	z-index: -1;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| scrollable table */
.tbl.-scroll {
	table-layout: auto;
	overflow: auto;
	overscroll-behavior: contain;
}

.tbl.-scroll .-col-heading {
	position: sticky;
	top: 0;
	z-index: 1;
}
.tbl.-scroll .-col-heading:first-child {
	position: sticky;
	left: 0;
	z-index: 2;
}
.tbl.-scroll .-row-heading {
	position: sticky;
	left: 0;
	z-index: 1;
}

.tbl.-scroll .tbl__cell:hover {
	outline: var(--line) solid var(--clr-accent);
}

/* specific styles and extra layer due to color transparency */
.tbl.-scroll .-row-heading {
	background-color: var(--clr-0-light);
}
.tbl.-scroll .-row-heading::after {
	position: absolute;
	content: "";
	inset: 0;
	z-index: -1;
}
.tbl.-scroll .-row-heading.-even::after {
	background-color: var(--clr-1-light);
}
.tbl.-scroll .-row-heading.-odd::after {
	background-color: var(--clr-1-dark);
}

/* media only for folding table */
@media (max-width: 992px) {
	.tbl.-fold {
		border-spacing: 0 var(--line);
	}

	.tbl.-fold .tbl__head {
		display: none;
	}

	.tbl.-fold .tbl__body .tbl__heading {
		display: grid;
		place-items: center;
		background-color: var(--clr-1-dark);
		color: var(--clr-0-light);
	}

	.tbl.-fold .tbl__cell {
		display: grid;
		align-items: center;
		gap: 1rem;
		grid-template-columns: max-content 1fr;
		position: static;
		margin-top: var(--line);
		background-color: var(--clr-1-light);
	}
	.tbl.-fold .tbl__cell:nth-child(2n) {
		background-color: var(--clr-0-light);
	}
	.tbl.-fold .tbl__cell::before {
		content: attr(data-cell) ": ";
	}
	.tbl.-fold .tbl__cell:hover {
		background-color: var(--clr-2-light);
	}

	/* .tbl.-fold .tbl__body .tbl__row:last-child > *:first-child {
		border-bottom-left-radius: 0;
	}
	.tbl.-fold .tbl__row:last-child .tbl__cell:last-child {
		border-bottom-left-radius: var(--outer-radius);
		border-bottom-right-radius: var(--outer-radius);
	} */
}
