.tag {
	--img-size: 1em;

	display: inline-flex;
	align-items: center;
	font-size: 0.9em;
	gap: 0.5em;
	padding-inline: 0.25em 0.65em;
	margin-inline: 0.25em;
	border-radius: 100vw;
	color: hsl(var(--clr-0a));
	background: var(--clr-solid, hsl(var(--clr-1b)));
	isolation: isolate;
	letter-spacing: 2px;
}
.tag.clr-1a::before {
	--clr-solid: var(--sphere-1b);
}
.tag.clr-2b::before {
	--clr-solid: var(--sphere-2c);
}
.tag::before {
	isolation: isolate;
	content: "";
	background: var(--clr-solid, var(--sphere-2c));
	background-size: contain;
	width: var(--img-size);
	height: var(--img-size);
	border-radius: 50%;
	position: relative;
}

.fs-md .tag {
	--img-size: 0.75em;
}
