.ttl-box {
	--img-h: 1.5em;
	--img-size: 1.5em;
	--gap: min(1em, 1rem);

	display: grid;
	align-items: center;
	grid-auto-columns: min-content 1fr;
	grid-auto-rows: min-content;
	row-gap: 0.5em;
}

.ttl-box__img {
	grid-area: 1 / 1;
	margin: 0 var(--gap) 0 0;
}

.ttl-box_bg-pipe::before {
	isolation: isolate;
	content: "";
	background: var(--bg, var(--clr-1b-solid));
	margin: 0 var(--gap) 0 0;
	height: 100%;
	width: 0.2em;
}

.ttl-box__ttl {
	grid-column: 2;
}

.ttl-box__sub {
	grid-column: 1 / span 2;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| pipe */
.ttl-box_bg-pipe-down {
	font-size: 0.5em;
}
.ttl-box_bg-pipe-down .ttl-box__ttl {
	grid-column: auto / span 2;
}
.ttl-box_bg-pipe-down::before {
	grid-area: 2 / 1;
}
.ttl-box_bg-pipe-down .ttl-box__sub {
	grid-column: auto;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| |||||||||| right - left */
.ttl-box_rl {
	grid-auto-columns: 1fr min-content;
	text-align: right;
}
.ttl-box_rl::before {
	grid-area: 1 / 2;
	margin: 0 0 0 var(--gap);
}
.ttl-box_rl .ttl-box__ttl {
	grid-column: auto;
}
